openapi: 3.1.0
info:
  title: Deliverect Channel Accounts Couriers API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Couriers
  description: Couriers operations for the Deliverect Channel API.
paths:
  /channel/courier_update:
    post:
      summary: Deliverect Courier Update
      description: This webhook delivers real-time updates on each delivery, based on information provided by the integrated Dispatch partner.
      operationId: channel_courier_update
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Couriers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{channelName}/courierUpdate/{channelLinkId}:
    post:
      summary: Deliverect Update Courier Status
      description: Update courier or guest delivery status.
      operationId: post_channelname_courierupdate_channellinkid
      parameters:
      - name: channelName
        in: path
        required: true
        schema:
          type: string
          default: my-channel
        description: The channelName value.
        example: my-channel
      - name: channelLinkId
        in: path
        required: true
        schema:
          type: string
          default: 61bcc34f657cc48c23eb60d5
        description: The channelLinkId value.
        example: 61bcc34f657cc48c23eb60d5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channelOrderId:
                  type: string
                  example: 609a1b2c3d4e5f6a7b8c9d0e
                courierUpdate:
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 20
                    arrivalTime:
                      type: string
                      format: date-time
                      example: '2026-03-15T14:30:00Z'
                    deliveryTime:
                      type: string
                      format: date-time
                      example: '2026-03-15T14:30:00Z'
                    courier:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: Deliverect's Pizza Place
                        lastName:
                          type: string
                          example: Deliverect's Pizza Place
                        phoneNumber:
                          type: string
                          example: '+15555550123'
                  required:
                  - status
              required:
              - channelOrderId
              - courierUpdate
            examples:
              Courier Update:
                summary: Courier Update
                value:
                  channelOrderId: 63171d0000000d34b5efe
                  courierUpdate:
                    status: 85
                    arrivalTime: '2022-10-25T16:24:40.482Z'
                    deliveryTime: '2022-10-25T16:54:40.482Z'
                    courier:
                      firstName: Joe
                      lastName: Driver
                      phoneNumber: +44 20 3936 1162
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value: '{}'
      tags:
      - Couriers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
