openapi: 3.2.0
info:
  title: Deliverect Channel Accounts Store Status API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Store Status
  description: Store Status operations for the Deliverect Channel API.
paths:
  /channel/busy_mode:
    post:
      summary: Deliverect Busy Mode
      description: When a store status changes to open or closed, a webhook event will be sent
      operationId: channel_busy_mode
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Store Status
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{channelName}/updateStoreStatus/{channelLinkId}:
    post:
      summary: Deliverect Update Store Status (open/closed)
      description: Update the status of a store.
      operationId: post_channelname_updatestorestatus_channellinkid
      parameters:
      - name: channelName
        in: path
        required: true
        schema:
          type: string
          default: my-channel
        description: The channelName value.
        example: my-channel
      - name: channelLinkId
        in: path
        required: true
        schema:
          type: string
          default: 61bcc34f657cc48c23eb60d5
        description: The channelLinkId value.
        example: 61bcc34f657cc48c23eb60d5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - open
                  - closed
                  example: open
                reason:
                  type: string
                  example: string
              required:
              - status
              - reason
            examples:
              Close Store:
                summary: Close Store
                value:
                  status: closed
                  reason: Too many failed orders
              Open Store:
                summary: Open Store
                value:
                  status: open
                  reason: Channel is opened
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    message: Changed store status
        '400':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    message: 'Invalid value passed in status field: ''invalidStatus'''
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Forbidden:
                  summary: Forbidden
                  value:
                    message: You don't have permissions to perform this action
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Not Found:
                  summary: Not Found
                  value:
                    message: Channel link id {channelLinkId} not found.
          description: Not Found
      tags:
      - Store Status
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /updateStoreStatus/{locationId}:
    post:
      tags:
      - Store Status
      summary: Deliverect Busy Mode
      description: 'This endpoint allows a POS to update store status. One, several or all channel links can be put in busy/online mode(should be supported by channels as well) by calling this endpoint. When sending a call to the endpoint make sure it includes `isActive` flag which indicates if store busy/online. Optional parameter `channelLinks` allwos you to specify a list of channel links to be put in busy/online mode. Otherwise all location channel links will be put in busy/online mode. As a payload we always expect a JSON that contains: * Flag that indicates if store is busy/online (`isActive`) * [Optional] Array of channel link ids to be put in busy/online more (`channelLink`)'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive:
                  type: string
                  example: string
                prepTime:
                  type: string
                  example: '2026-03-15T14:30:00Z'
              required:
              - isActive
              - prepTime
            examples:
              post_update_store_statusRequest:
                summary: Default post_update_store_status request
                x-microcks-default: true
                value:
                  isActive: string
                  prepTime: '2026-03-15T14:30:00Z'
      parameters:
      - name: locationId
        in: path
        schema:
          type: string
        required: true
        description: The locationId value.
        example: 5cecc6489f0001b8
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                      example: Channel Link 606d8489f****ddf13b****6 failed to update status
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    errors:
                    - Channel Link 606d8489f****ddf13b****6 failed to update status
      operationId: post_update_store_status
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
