openapi: 3.1.0
info:
  title: Deliverect Commerce API
  description: Power digital ordering, click-and-collect, and kiosk experiences with store details, menu data, basket creation, validation, discounts, and a checkout flow that injects orders to the POS.
    Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericCommerce.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
tags:
- name: Baskets
  description: Baskets operations for the Deliverect Commerce API.
- name: Stores
  description: Stores operations for the Deliverect Commerce API.
- name: Menus
  description: Menus operations for the Deliverect Commerce API.
- name: Checkout
  description: Checkout operations for the Deliverect Commerce API.
- name: Coupons
  description: Coupons operations for the Deliverect Commerce API.
- name: Upsell
  description: Upsell operations for the Deliverect Commerce API.
paths:
  /commerce/{accountId}/baskets/recreate:
    post:
      description: Deliverect Recreate Basket
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    id: 65********************e2
                    channel: 20000
                    category:
                      type: restaurant
                    currency: USD
                    taxExclusive: true
                    status: open
                    items:
                    - id: 65********************27
                      menuId: 64********************7b
                      plu: QS-01
                      name: Classic Quesadilla + Drink
                      note: as much cheese as possible!
                      quantity: 1
                      price: 529
                      gross: 698
                      taxes:
                      - rate: 7000
                        name: GST
                        amount: 49
                      net: 747
                      subItems:
                      - customizationPlu: MOD-01
                        plu: DRNK-01
                        name: Coca Cola
                        quantity: 1
                        price: 169
                        note: Extra cold please
                        subItems: []
                      discounts: []
                      discountTotal: 0
                    - id: 691327c5d367f4588f9482fb
                      menuId: 6902550da160cca419af2469
                      plu: '645611577'
                      name: Chocolate Chip Cookie
                      quantity: 2
                      price: 159
                      gross: 318
                      taxes: []
                      net: 318
                      subItems: []
                      discounts: []
                      discountTotal: 0
                      note: In seperate bag please
                    payment:
                      tips: []
                      discountsTotal: 0
                      chargesTotal: 0
                      taxTotal: 56
                      tipTotal: 0
                      subTotal: 1016
                      total: 1065
                    customer:
                      name: John Doe
                      companyName: ACME
                      phoneNumber: '+3211223344'
                      email: john.doe@acme.com
                      externalId: crm-id-1234
                      tin: '123456789'
                    fulfillment:
                      type: pickup
                      time: null
                    taxes:
                    - name: SALES_TAX
                      amount: 49
                    discounts: []
                    charges:
                      serviceCharge:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                        type: fixed
                      bagFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      deliveryFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      taxTotal: 0
                      netTotal: 0
                      grossTotal: 0
                    created: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    updated: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    deleted: false
                    etag: f4c8f20eeb23206c2bc8cf66c2843a6efaa3eaaf
                    accountId: 66********************d1
                    storeId: 67********************a8
                    channelLinkId: 67********************a8
                    channelOrderId: null
                    channelOrderDisplayId: null
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 65********************e2
                  channel:
                    type: integer
                    example: 20000
                    default: 0
                  category:
                    type: object
                    properties:
                      type:
                        type: string
                        example: restaurant
                  currency:
                    type: string
                    example: USD
                  taxExclusive:
                    type: boolean
                    example: true
                    default: true
                  status:
                    type: string
                    example: open
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 65********************27
                        menuId:
                          type: string
                          example: 64********************7b
                        plu:
                          type: string
                          example: QS-01
                        name:
                          type: string
                          example: Classic Quesadilla + Drink
                        note:
                          type: string
                          example: as much cheese as possible!
                        quantity:
                          type: integer
                          example: 1
                          default: 0
                        price:
                          type: integer
                          example: 529
                          default: 0
                        gross:
                          type: integer
                          example: 698
                          default: 0
                        taxes:
                          type: array
                          items:
                            type: object
                            properties:
                              rate:
                                type: integer
                                example: 7000
                                default: 0
                              name:
                                type: string
                                example: GST
                              amount:
                                type: integer
                                example: 49
                                default: 0
                        net:
                          type: integer
                          example: 747
                          default: 0
                        subItems:
                          type: array
                          items:
                            type: object
                            properties:
                              customizationPlu:
                                type: string
                                example: MOD-01
                              plu:
                                type: string
                                example: DRNK-01
                              name:
                                type: string
                                example: Coca Cola
                              quantity:
                                type: integer
                                example: 1
                                default: 0
                              price:
                                type: integer
                                example: 169
                                default: 0
                              note:
                                type: string
                                example: Extra cold please
                              subItems:
                                type: array
                                items:
                                  type: object
                                  properties: {}
                        discounts:
                          type: array
                          items:
                            type: object
                            properties: {}
                        discountTotal:
                          type: integer
                          example: 0
                          default: 0
                  payment:
                    type: object
                    properties:
                      tips:
                        type: array
                        items:
                          type: object
                          properties: {}
                      discountsTotal:
                        type: integer
                        example: 0
                        default: 0
                      chargesTotal:
                        type: integer
                        example: 0
                        default: 0
                      taxTotal:
                        type: integer
                        example: 56
                        default: 0
                      tipTotal:
                        type: integer
                        example: 0
                        default: 0
                      subTotal:
                        type: integer
                        example: 1016
                        default: 0
                      total:
                        type: integer
                        example: 1065
                        default: 0
                  customer:
                    type: object
                    properties:
                      name:
                        type: string
                        example: John Doe
                      companyName:
                        type: string
                        example: ACME
                      phoneNumber:
                        type: string
                        example: '+3211223344'
                      email:
                        type: string
                        example: john.doe@acme.com
                      externalId:
                        type: string
                        example: crm-id-1234
                      tin:
                        type: string
                        example: '123456789'
                  fulfillment:
                    type: object
                    properties:
                      type:
                        type: string
                        example: pickup
                      time: {}
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: SALES_TAX
                        amount:
                          type: integer
                          example: 49
                          default: 0
                  discounts:
                    type: array
                    items:
                      type: object
                      properties: {}
                  charges:
                    type: object
                    properties:
                      serviceCharge:
                        type: object
                        properties:
                          value:
                            type: integer
                            example: 0
                            default: 0
                          taxRate:
                            type: integer
                            example: 0
                            default: 0
                          gross:
                            type: integer
                            example: 0
                            default: 0
                          tax:
                            type: integer
                            example: 0
                            default: 0
                          net:
                            type: integer
                            example: 0
                            default: 0
                          type:
                            type: string
                            example: fixed
                      bagFee:
                        type: object
                        properties:
                          value:
                            type: integer
                            example: 0
                            default: 0
                          taxRate:
                            type: integer
                            example: 0
                            default: 0
                          gross:
                            type: integer
                            example: 0
                            default: 0
                          tax:
                            type: integer
                            example: 0
                            default: 0
                          net:
                            type: integer
                            example: 0
                            default: 0
                      deliveryFee:
                        type: object
                        properties:
                          value:
                            type: integer
                            example: 0
                            default: 0
                          taxRate:
                            type: integer
                            example: 0
                            default: 0
                          gross:
                            type: integer
                            example: 0
                            default: 0
                          tax:
                            type: integer
                            example: 0
                            default: 0
                          net:
                            type: integer
                            example: 0
                            default: 0
                      taxTotal:
                        type: integer
                        example: 0
                        default: 0
                      netTotal:
                        type: integer
                        example: 0
                        default: 0
                      grossTotal:
                        type: integer
                        example: 0
                        default: 0
                  created:
                    type: string
                    example: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                  updated:
                    type: string
                    example: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                  deleted:
                    type: boolean
                    example: false
                    default: true
                  etag:
                    type: string
                    example: f4c8f20eeb23206c2bc8cf66c2843a6efaa3eaaf
                  accountId:
                    type: string
                    example: 66********************d1
                  storeId:
                    type: string
                    example: 67********************a8
                  channelLinkId:
                    type: string
                    example: 67********************a8
                  channelOrderId: {}
                  channelOrderDisplayId: {}
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: product_snoozed
                  message:
                    type: string
                    example: Product is currently snoozed
                  context:
                    type: object
                    properties:
                      menuId:
                        type: string
                        example: 63********************b5
                      plu:
                        type: string
                        example: '123'
              examples:
                Unprocessable Entity:
                  summary: Unprocessable Entity
                  value:
                    code: product_snoozed
                    message: Product is currently snoozed
                    context:
                      menuId: 63********************b5
                      plu: '123'
          description: Unprocessable Entity
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: The accountId value.
        example: 5b71c6489f00290d4
      operationId: post_commerce_accountid_baskets_recreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                storeId:
                  type: string
                  example: 609a1b2c3d4e5f6a7b8c9d0e
                orderId:
                  type: string
                  example: 609a1b2c3d4e5f6a7b8c9d0e
              required:
              - storeId
              - orderId
            examples:
              post_commerce_accountid_baskets_recreateRequest:
                summary: Default post_commerce_accountid_baskets_recreate request
                x-microcks-default: true
                value:
                  storeId: 609a1b2c3d4e5f6a7b8c9d0e
                  orderId: 609a1b2c3d4e5f6a7b8c9d0e
      summary: Deliverect Recreate Basket
      tags:
      - Baskets
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /commerce/{accountId}/stores/{channelLinkId}:
    get:
      tags:
      - Stores
      summary: Deliverect Get Store
      description: A store represents a unique ordering experience from a specific location.
      operationId: commerce_channel_api_stores_get_store
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
          default: 668e4aa170efd23c474b2ad1
        required: true
        description: The accountId value.
        example: 668e4aa170efd23c474b2ad1
      - in: path
        name: channelLinkId
        schema:
          type: string
        required: true
        description: The channelLinkId value.
        example: 5e8abc11dec0001a009b
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    id: 65eee6a9984a1bc1b9637c59
                    channelLinkId: 65eee6a9984a1bc1b9637c59
                    name: Store Name
                    currency: EUR
                    address:
                      source: 1 Main street D13 R2P6 Ghent VOV
                      coordinates:
                      - 3.73398891371018
                      - 51.0311233802278
                      country: BE
                      city: Ghent
                      stateOrProvince: VOV
                    openingHours:
                      timezone: Europe/Brussels
                      dayTimeRanges:
                      - dayOfWeek: 1
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 2
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 3
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 4
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 5
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 6
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 7
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      scheduling:
                        acceptsAsapOrders: false
                        acceptsPreOrders: false
                        acceptsSameDayPreOrders: false
                        minimumLeadTimeInMinutes: 30
                        maximumDaysInAdvance: 30
                        slotLengthInMinutes: 30
                    distance: 1235
                    taxExclusive: false
                    contact:
                      firstName: John
                      lastName: Doe
                      phoneNumber: '+32411111111'
                      email: john.doe@acme.com
                    fulfillmentTypes:
                    - pickup
                    - delivery
                    - eatIn
                    status: open
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 65eee6a9984a1bc1b9637c59
                  name:
                    type: string
                    example: Store Name
                  currency:
                    type: string
                    example: EUR
                  address:
                    type: object
                    properties:
                      source:
                        type: string
                        example: 1 Main street D13 R2P6 Ghent VOV
                      coordinates:
                        type: array
                        items:
                          type: number
                          example: 3.73398891371018
                          default: 0
                      country:
                        type: string
                        example: BE
                      city:
                        type: string
                        example: Ghent
                      stateOrProvince:
                        type: string
                        example: VOV
                  openingHours:
                    type: object
                    properties:
                      timezone:
                        type: string
                        example: Europe/Brussels
                      dayTimeRanges:
                        type: array
                        items:
                          type: object
                          properties:
                            dayOfWeek:
                              type: integer
                              example: 1
                              default: 0
                            startTime:
                              type: string
                              example: 00:00:00
                            endTime:
                              type: string
                              example: '23:59:00'
                  distance:
                    type: integer
                    example: 1235
                    default: 0
                  taxExclusive:
                    type: boolean
                    example: false
                    default: true
                  contact:
                    type: object
                    properties:
                      firstName:
                        type: string
                        example: John
                      lastName:
                        type: string
                        example: Doe
                      phoneNumber:
                        type: string
                        example: '+32411111111'
                      email:
                        type: string
                        example: john.doe@acme.com
                  fulfillmentTypes:
                    type: array
                    items:
                      type: string
                      example: pickup
                  status:
                    type: string
                    example: open
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /commerce/{accountId}/menus:
    get:
      tags:
      - Menus
      summary: Deliverect Get Root Menu(s)
      description: This endpoint returns a list of menus associated with the account's master location. These menus are store agnostic and typically hold enough data to display as first entry experience.
      operationId: commerce_channel_api_menus_get_root_menus
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
        description: The accountId value.
        example: 5b71c6489f00290d4
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                  - menu: Burger Menu
                    menuId: 64c27a89c6352cd55814580c
                    menuType: 0
                    nestedModifiers: false
                    description: Description
                    menuImageUrl: null
                    currency: 1
                    menuTranslations:
                      en: ''
                    productTags:
                    - 116
                    - 16
                    - 6
                    - 115
                    - 1
                    - 35
                    - 101
                    - 104
                    descriptionTranslations:
                      en: ''
                    categories:
                    - id: 64c27a9513128b833aaec96e
                      name: Pizza
                      description: ''
                      imageUrl: null
                      menu: 64c27a89c6352cd55814580c
                      account: 64872839172e0e6d2cedaa48
                      nameTranslations: {}
                      descriptionTranslations: {}
                      subProducts:
                      - 648acd52c5bf7503468da6c7
                      - 648acc5c2d5016b2ecce3188
                      - 649abe754ea4f0e242ddb755
                    - id: 65c130c6ec28c6821bcf80ab
                      name: Drinks
                      description: ''
                      imageUrl: null
                      menu: 64c27a89c6352cd55814580c
                      account: 64872839172e0e6d2cedaa48
                      nameTranslations: {}
                      descriptionTranslations: {}
                      subProducts:
                      - 64d4c407554b010187f74830
                    - id: 65c130daec28c6821bcf80e0
                      name: Burgers
                      description: ''
                      imageUrl: null
                      menu: 64c27a89c6352cd55814580c
                      account: 64872839172e0e6d2cedaa48
                      nameTranslations: {}
                      descriptionTranslations: {}
                      subProducts:
                      - 65c1304eec28c6821bcf73e7
                    - id: 65c131b0dc12e93ea9081a9a
                      name: Extra
                      description: ''
                      imageUrl: null
                      menu: 64c27a89c6352cd55814580c
                      account: 64872839172e0e6d2cedaa48
                      nameTranslations: {}
                      descriptionTranslations: {}
                      subProducts:
                      - 65c1308edc12e93ea907f49a
                    products:
                      648acd52c5bf7503468da6c7:
                        id: 648acd52c5bf7503468da6c7
                        plu: P-MA-sViS-2
                        name: Margherita
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: Margherita Pizza
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-MA-sViS-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags:
                        - 116
                        subProducts:
                        - 648c251ebb2163a8cebc1137
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      648acc5c2d5016b2ecce3188:
                        id: 648acc5c2d5016b2ecce3188
                        plu: P-PE-xmku-2
                        name: Pepperoni
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: Pepperoni Pizza
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-PE-xmku-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags:
                        - 16
                        - 6
                        - 115
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      649abe754ea4f0e242ddb755:
                        id: 649abe754ea4f0e242ddb755
                        plu: P-ME-72C1-2
                        name: Pizza Meal Option 1
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-ME-72C1-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts:
                        - 649abede949cfa36470e3326
                        - 649abefeb99c55cfcbf181c6
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      64d4c407554b010187f74830:
                        id: 64d4c407554b010187f74830
                        plu: VAR-3
                        name: Coke
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: VAR-3
                        calories: 2
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      65c1304eec28c6821bcf73e7:
                        id: 65c1304eec28c6821bcf73e7
                        plu: P-TA-FYlu-2
                        name: Burger
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-TA-FYlu-2
                        calories: 500
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags:
                        - 1
                        - 35
                        - 101
                        - 104
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      65c1308edc12e93ea907f49a:
                        id: 65c1308edc12e93ea907f49a
                        plu: P-FR-WZDd-2
                        name: Fries
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-FR-WZDd-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      663c976df7d1fb0d85dc96c5:
                        id: 663c976df7d1fb0d85dc96c5
                        plu: P-MA-sViS-2###
                        name: Margherita
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: Margherita Pizza
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-MA-sViS-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags:
                        - 116
                        subProducts:
                        - 648c251ebb2163a8cebc1137
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      663c976df7d1fb0d85dc96c6:
                        id: 663c976df7d1fb0d85dc96c6
                        plu: P-PE-xmku-2###
                        name: Pepperoni
                        productType: 1
                        max: 0
                        min: 0
                        multiply: 1
                        description: Pepperoni Pizza
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: P-PE-xmku-2
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags:
                        - 16
                        - 6
                        - 115
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                    modifiers:
                      648c24f842c8fee99960fc05:
                        id: 648c24f842c8fee99960fc05
                        plu: M-BA-nNU1-2
                        name: Bacon
                        productType: 2
                        max: 0
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: null
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts: []
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                    modifierGroups:
                      648c251ebb2163a8cebc1137:
                        id: 648c251ebb2163a8cebc1137
                        plu: MG-TO-QeOs-2
                        name: Toppings
                        productType: 3
                        max: 5
                        min: 0
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: null
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts:
                        - 648c24f842c8fee99960fc05
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                    bundles:
                      649abede949cfa36470e3326:
                        id: 649abede949cfa36470e3326
                        plu: P-meal-deal-1
                        name: Pizza 1
                        productType: 4
                        max: 1
                        min: 1
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: null
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts:
                        - 663c976df7d1fb0d85dc96c5
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
                      649abefeb99c55cfcbf181c6:
                        id: 649abefeb99c55cfcbf181c6
                        plu: B-PI-qEtO-2
                        name: Pizza 2
                        productType: 4
                        max: 1
                        min: 1
                        multiply: 1
                        description: ''
                        defaultQuantity: null
                        isVariant: null
                        account: 64872839172e0e6d2cedaa48
                        referenceId: null
                        calories: null
                        caloriesRangeHigh: null
                        nameTranslations: {}
                        descriptionTranslations: {}
                        productTags: []
                        subProducts:
                        - 663c976df7d1fb0d85dc96c6
                        beverageInfo: null
                        nutritionalInfo: null
                        packaging: null
                        supplementalInfo: null
                        subProductSortOrder: []
              schema:
                type: array
                items:
                  type: object
                  properties:
                    menu:
                      type: string
                      example: Burger Menu
                    menuId:
                      type: string
                      example: 64c27a89c6352cd55814580c
                    menuType:
                      type: integer
                      example: 0
                      default: 0
                    nestedModifiers:
                      type: boolean
                      example: false
                      default: true
                    description:
                      type: string
                      example: Description
                    menuImageUrl: {}
                    currency:
                      type: integer
                      example: 1
                      default: 0
                    menuTranslations:
                      type: object
                      properties:
                        en:
                          type: string
                          example: ''
                    productTags:
                      type: array
                      items:
                        type: integer
                        example: 116
                        default: 0
                    descriptionTranslations:
                      type: object
                      properties:
                        en:
                          type: string
                          example: ''
                    categories:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 64c27a9513128b833aaec96e
                          name:
                            type: string
                            example: Pizza
                          description:
                            type: string
                            example: ''
                          imageUrl: {}
                          menu:
                            type: string
                            example: 64c27a89c6352cd55814580c
                          account:
                            type: string
                            example: 64872839172e0e6d2cedaa48
                          nameTranslations:
                            type: object
                            properties: {}
                          descriptionTranslations:
                            type: object
                            properties: {}
                          subProducts:
                            type: array
                            items:
                              type: string
                              example: 648acd52c5bf7503468da6c7
                    products:
                      type: object
                      properties:
                        648acd52c5bf7503468da6c7:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 648acd52c5bf7503468da6c7
                            plu:
                              type: string
                              example: P-MA-sViS-2
                            name:
                              type: string
                              example: Margherita
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: Margherita Pizza
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-MA-sViS-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                              items:
                                type: integer
                                example: 116
                                default: 0
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 648c251ebb2163a8cebc1137
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        648acc5c2d5016b2ecce3188:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 648acc5c2d5016b2ecce3188
                            plu:
                              type: string
                              example: P-PE-xmku-2
                            name:
                              type: string
                              example: Pepperoni
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: Pepperoni Pizza
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-PE-xmku-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                              items:
                                type: integer
                                example: 16
                                default: 0
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        649abe754ea4f0e242ddb755:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 649abe754ea4f0e242ddb755
                            plu:
                              type: string
                              example: P-ME-72C1-2
                            name:
                              type: string
                              example: Pizza Meal Option 1
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-ME-72C1-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 649abede949cfa36470e3326
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        64d4c407554b010187f74830:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 64d4c407554b010187f74830
                            plu:
                              type: string
                              example: VAR-3
                            name:
                              type: string
                              example: Coke
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: VAR-3
                            calories:
                              type: integer
                              example: 2
                              default: 0
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        65c1304eec28c6821bcf73e7:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 65c1304eec28c6821bcf73e7
                            plu:
                              type: string
                              example: P-TA-FYlu-2
                            name:
                              type: string
                              example: Burger
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-TA-FYlu-2
                            calories:
                              type: integer
                              example: 500
                              default: 0
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                              items:
                                type: integer
                                example: 1
                                default: 0
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        65c1308edc12e93ea907f49a:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 65c1308edc12e93ea907f49a
                            plu:
                              type: string
                              example: P-FR-WZDd-2
                            name:
                              type: string
                              example: Fries
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-FR-WZDd-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        663c976df7d1fb0d85dc96c5:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 663c976df7d1fb0d85dc96c5
                            plu:
                              type: string
                              example: P-MA-sViS-2###
                            name:
                              type: string
                              example: Margherita
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: Margherita Pizza
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-MA-sViS-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                              items:
                                type: integer
                                example: 116
                                default: 0
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 648c251ebb2163a8cebc1137
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        663c976df7d1fb0d85dc96c6:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 663c976df7d1fb0d85dc96c6
                            plu:
                              type: string
                              example: P-PE-xmku-2###
                            name:
                              type: string
                              example: Pepperoni
                            productType:
                              type: integer
                              example: 1
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: Pepperoni Pizza
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId:
                              type: string
                              example: P-PE-xmku-2
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                              items:
                                type: integer
                                example: 16
                                default: 0
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                    modifiers:
                      type: object
                      properties:
                        648c24f842c8fee99960fc05:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 648c24f842c8fee99960fc05
                            plu:
                              type: string
                              example: M-BA-nNU1-2
                            name:
                              type: string
                              example: Bacon
                            productType:
                              type: integer
                              example: 2
                              default: 0
                            max:
                              type: integer
                              example: 0
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId: {}
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                    modifierGroups:
                      type: object
                      properties:
                        648c251ebb2163a8cebc1137:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 648c251ebb2163a8cebc1137
                            plu:
                              type: string
                              example: MG-TO-QeOs-2
                            name:
                              type: string
                              example: Toppings
                            productType:
                              type: integer
                              example: 3
                              default: 0
                            max:
                              type: integer
                              example: 5
                              default: 0
                            min:
                              type: integer
                              example: 0
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId: {}
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 648c24f842c8fee99960fc05
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                    bundles:
                      type: object
                      properties:
                        649abede949cfa36470e3326:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 649abede949cfa36470e3326
                            plu:
                              type: string
                              example: P-meal-deal-1
                            name:
                              type: string
                              example: Pizza 1
                            productType:
                              type: integer
                              example: 4
                              default: 0
                            max:
                              type: integer
                              example: 1
                              default: 0
                            min:
                              type: integer
                              example: 1
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId: {}
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 663c976df7d1fb0d85dc96c5
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
                        649abefeb99c55cfcbf181c6:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 649abefeb99c55cfcbf181c6
                            plu:
                              type: string
                              example: B-PI-qEtO-2
                            name:
                              type: string
                              example: Pizza 2
                            productType:
                              type: integer
                              example: 4
                              default: 0
                            max:
                              type: integer
                              example: 1
                              default: 0
                            min:
                              type: integer
                              example: 1
                              default: 0
                            multiply:
                              type: integer
                              example: 1
                              default: 0
                            description:
                              type: string
                              example: ''
                            defaultQuantity: {}
                            isVariant: {}
                            account:
                              type: string
                              example: 64872839172e0e6d2cedaa48
                            referenceId: {}
                            calories: {}
                            caloriesRangeHigh: {}
                            nameTranslations:
                              type: object
                              properties: {}
                            descriptionTranslations:
                              type: object
                              properties: {}
                            productTags:
                              type: array
                            subProducts:
                              type: array
                              items:
                                type: string
                                example: 663c976df7d1fb0d85dc96c6
                            beverageInfo: {}
                            nutritionalInfo: {}
                            packaging: {}
                            supplementalInfo: {}
                            subProductSortOrder:
                              type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /commerce/{accountId}/baskets:
    post:
      tags:
      - Baskets
      summary: Deliverect Create Basket
      description: This endpoint creates a Basket for the store.
      operationId: commerce_channel_api_baskets_create_basket
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
          default: ''
        required: true
        description: The accountId value.
        example: 5b71c6489f00290d4
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - channelLinkId
              properties:
                channelLinkId:
                  type: string
                  description: ID of the store the basket is happening for.
                  default: ''
                  example: 5e8abc11dec0001a009b
                fulfillment:
                  type: object
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      default: pickup
                      enum:
                      - pickup
                      - delivery
                      - eatIn
                      - dispatch
                      example: pickup
                items:
                  type: array
                  items:
                    properties:
                      menuId:
                        type: string
                        example: 609a1b2c3d4e5f6a7b8c9d0e
                      plu:
                        type: string
                        default: 3F_COMBO
                        example: 3F_COMBO
                      quantity:
                        type: integer
                        default: 2
                        format: int32
                        example: 2
                      note:
                        type: string
                        example: No salad
                      subItems:
                        type: array
                        items:
                          properties:
                            plu:
                              type: string
                              default: A_FRS
                              example: A_FRS
                            customizationPlu:
                              type: string
                              example: string
                            quantity:
                              type: integer
                              default: 1
                              format: int32
                              example: 1
                            note:
                              type: string
                              example: No salad
                          required:
                          - plu
                          - customizationPlu
                          - quantity
                          type: object
                    required:
                    - menuId
                    - plu
                    - quantity
                    type: object
                customer:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Deliverect's Pizza Place
                    companyName:
                      type: string
                      example: Deliverect's Pizza Place
                    phoneNumber:
                      type: string
                      example: '+15555550123'
                    email:
                      type: string
                      example: customer@example.com
                    externalId:
                      type: string
                      example: 609a1b2c3d4e5f6a7b8c9d0e
                    tin:
                      type: string
                      example: string
                    crmProfileId:
                      type: string
                      description: If the order is to be assigned to a CRM customer, this fields needs to have a valid crmProfileId.
                      example: 609a1b2c3d4e5f6a7b8c9d0e
            examples:
              pickup:
                value:
                  storeId: 67********************2c
                  fulfillment:
                    type: pickup
                    time: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                  items:
                  - menuId: 62********************3w
                    plu: PR1234
                    quantity: 2
                    note: extra salt please
                    subItems:
                    - plu: MOD123
                      customizationPlu: CATOPT3
                      quantity: 1
                  - menuId: 62********************3w
                    plu: PR5678
                    quantity: 1
                  customer:
                    name: John Doe
                    companyName: ACME
                    phoneNumber: '+3211223344'
                    email: john.doe@acme.com
                    externalId: crm-id-1234
                    tin: '123456789'
              delivery:
                value:
                  storeId: 67********************2c
                  fulfillment:
                    type: delivery
                    address:
                      line: 5030 W Lovers Ln, Dallas, TX 75209, US
                      subpremise: Floor 1, Left Door
                      street: 5030 W Lovers Ln
                      area: Bluffview
                      city: Dallas
                      postalCode: '75209'
                      stateOrProvince: TX
                      country: US
                      coordinates:
                      - 32.850713
                      - -96.828014
                      note: first floor, left door, happy dog
                  items:
                  - menuId: 62********************3w
                    plu: PR1234
                    quantity: 2
                    note: extra salt please
                    subItems:
                    - plu: MOD123
                      customizationPlu: CATOPT2
                      quantity: 1
                  - menuId: 62********************3w
                    plu: PR5678
                    quantity: 1
                  customer:
                    name: John Doe
                    companyName: ACME
                    phoneNumber: '+3211223344'
                    email: john.doe@acme.com
                    externalId: crm-id-1234
                    tin: '123456789'
              eat-in:
                value:
                  storeId: 67********************2c
                  fulfillment:
                    type: eatIn
                    spot: table-5
                  items:
                  - menuId: 62********************3w
                    plu: PR1234
                    quantity: 2
                    note: extra salt please
                    subItems:
                    - plu: MOD123
                      customizationPlu: CATOPT2
                      quantity: 1
                  - menuId: 62********************3w
                    plu: PR5678
                    quantity: 1
                  customer:
                    name: John Doe
                    companyName: ACME
                    phoneNumber: '+3211223344'
                    email: john.doe@acme.com
                    externalId: crm-id-1234
                    tin: '123456789'
              curbside:
                summary: curbside
                value:
                  storeId: 67********************2c
                  fulfillment:
                    type: curbside
                    time: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    pickupNotes: Yellow Honda
                  items:
                  - menuId: 62********************3w
                    plu: PR1234
                    quantity: 2
                    note: extra salt please
                    subItems:
                    - plu: MOD123
                      customizationPlu: CATOPT3
                      quantity: 1
                  - menuId: 62********************3w
                    plu: PR5678
                    quantity: 1
                  customer:
                    name: John Doe
                    companyName: ACME
                    phoneNumber: '+3211223344'
                    email: john.doe@acme.com
                    externalId: crm-id-1234
                    tin: '123456789'
              Group:
                summary: Group
                value:
                  storeId: 67********************2c
                  fulfillment:
                    type: pickup
                    time: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                  items: []
                  group:
                    customers:
                    - role: host
                      name: John Doe
                      companyName: ACME
                      phoneNumber: '+3211223344'
                      email: john.doe@acme.com
                      externalId: crm-id-1234
                      tin: '123456789'
                    - role: guest
                      name: Patrick Doe
                      companyName: ACME
                      phoneNumber: '+3211223344'
                      email: patrick.doe@acme.com
                      externalId: crm-id-1235
                      tin: '123456790'
                  customer: null
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                OK:
                  value:
                    id: 65********************e2
                    channel: 10001
                    category:
                      type: restaurant
                    currency: USD
                    taxExclusive: true
                    status: open
                    items:
                    - id: 65********************27
                      menuId: 64********************7b
                      plu: DRNK-01
                      name: Coca Cola
                      quantity: 1
                      price: 219
                      gross: 219
                      taxes:
                      - rate: 7000
                        name: GST
                        amount: 15
                      net: 234
                      subItems: []
                      discounts: []
                      discountTotal: 0
                    - id: 65********************e2
                      menuId: 64********************7b
                      plu: QS-01
                      name: Classic Quesadilla + Drink
                      quantity: 1
                      price: 399
                      gross: 399
                      taxes:
                      - rate: 7000
                        name: GST
                        amount: 28
                      net: 427
                      subItems:
                      - customizationPlu: MOD-01
                        plu: GR-CH
                        name: Green Chillis
                        quantity: 1
                        price: 0
                        subItems: []
                      - customizationPlu: INGR-1
                        plu: '645611577'
                        name: No Onions
                        quantity: 1
                        price: 0
                        subItems:
                        - customizationPlu: SUB-01
                          plu: 654267959-655503030
                          name: Spring Onion
                          quantity: 1
                          price: 0
                          subItems: []
                      discounts: []
                      discountTotal: 0
                    donations: []
                    payment:
                      tips: []
                      donationTotal: 0
                      discountsTotal: 0
                      chargesTotal: 0
                      taxTotal: 43
                      tipTotal: 0
                      subTotal: 618
                      total: 661
                    customer:
                      name: John Doe
                      companyName: ACME
                      phoneNumber: '+3211223344'
                      email: john.doe@acme.com
                      externalId: crm-id-1234
                      tin: '123456789'
                      crmProfileId: 67********************a8
                    fulfillment:
                      type: delivery
                      address:
                        line: 8719 Avenue D, Brooklyn, NY, 11236, US
                        street: 8719 Avenue D
                        city: Brooklyn
                        postalCode: '11236'
                        stateOrProvince: NY
                        country: US
                        coordinates:
                        - 40.6456946
                        - -73.9143276
                        note: first floor, left door, happy dog
                      pickupNotes: Yellow Honda
                    taxes:
                    - name: GST
                      amount: 43
                    discounts: []
                    charges:
                      serviceCharge:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                        type: fixed
                      bagFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      deliveryFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      taxTotal: 0
                      netTotal: 0
                      grossTotal: 0
                    preparationTime: 0
                    preparationDelayTime: 0
                    created: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    updated: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    deleted: false
                    etag: f4c8f20eeb23206c2bc8cf66c2843a6efaa3eaaf
                    accountId: 66********************d1
                    storeId: 67********************a8
                    channelLinkId: 67********************a8
                  summary: OK
                OK - Group:
                  summary: OK - Group
                  value:
                    id: 65********************e2
                    channel: 20000
                    category:
                      type: restaurant
                    currency: USD
                    taxExclusive: true
                    status: open
                    items: []
                    payment:
                      tips: []
                      discountsTotal: 0
                      chargesTotal: 0
                      taxTotal: 56
                      tipTotal: 0
                      subTotal: 1016
                      total: 1065
                    group:
                      customers:
                      - id: 691327c5d367f4588f948201
                        role: host
                        name: John Doe
                        companyName: ACME
                        phoneNumber: '+3211223344'
                        email: john.doe@acme.com
                        externalId: crm-id-1234
                        tin: '123456789'
                      - id: 691327c5d367f4588f948202
                        role: guest
                        name: Patrick Doe
                        companyName: ACME
                        phoneNumber: '+3211223344'
                        email: patrick.doe@acme.com
                        externalId: crm-id-1235
                        tin: '123456790'
                    customer: null
                    fulfillment:
                      type: pickup
                      time: null
                      pickupNotes: Yellow Honda
                    taxes:
                    - name: SALES_TAX
                      amount: 49
                    discounts: []
                    charges:
                      serviceCharge:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                        type: fixed
                      bagFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      deliveryFee:
                        value: 0
                        taxRate: 0
                        gross: 0
                        tax: 0
                        net: 0
                      taxTotal: 0
                      netTotal: 0
                      grossTotal: 0
                    created: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    updated: YYYY-MM-DDTHH:mm:ss.SSSSSSZ
                    deleted: false
                    etag: f4c8f20eeb23206c2bc8cf66c2843a6efaa3eaaf
                    accountId: 66********************d1
                    storeId: 67********************a8
                    channelLinkId: 67********************a8
                    channelOrderId: null
                    channelOrderDisplayId: null
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 65********************e2
                  channel:
                    type: integer
                    example: 20000
                    default: 0
                  category:
                    type: object
                    properties:
                      type:
                        type: string
                        example: restaurant
                  currency:
                    type: string
                    example: USD
                  taxExclusive:
                    type: boolean
                    example: true
                    default: true
                  status:
                    type: string
                    example: open
                  items:
                    type: array
                    items:
                      type: object
                      properties: {}
                  payment:
                    type: object
                    properties:
                      tips:
                        type: array
                        items:
                          type: object
                          properties: {}
                      discountsTotal:
                        type: integer
                        example: 0
                        default: 0
                      chargesTotal:
                        type: integer
                        example: 0
                        default: 0
                      taxTotal:
                        type: integer
                        example: 56
                        default: 0
                      tipTotal:
                        type: integer
                        example: 0
                        default: 0
                      subTotal:
                        type: integer
                        example: 1016
                        default: 0
                      total:
                        type: integer
                        example: 1065
                        default: 0
                  group:
                    type: object
                    properties:
                      customers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 691327c5d367f4588f948201
                            role:
                              type: string
                              example: host
                            name:
                              type: string
                              example: John Doe
                            companyName:
                              type: string
                              example: ACME
                            phoneNumber:
                              type: string
                              example: '+3211223344'
                            email:
                              type: string
                              example: john.doe@acme.com
                            externalId:
                              type: string
                              example: crm-id-1234
                            tin:
                              type: string
                              example: '123456789'
                            crmProfileId:
                              type: string
                              example: 609a1b2c3d4e5f6a7b8c9d0e
                  customer:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Deliverect's Pizza Place
                      companyName:
                        type: string
                        example: Deliverect's Pizza Place
                      phoneNumber:
                        type: string
                        example: '+15555550123'
                      email:
                        type: string
                        example: customer@example.com
                      externalId:
                        type: string
                        example: 609a1b2c3d4e5f6a7b8c9d0e
                      tin:
                        type: string
                        example: string
                      crmProfileId:
                        type: string
                        example: 609a1b2c3d4e5f6a7b8c9d0e
                  fulfillment:
                    type: object
                    properties:
                      type:
                        type: string
                        example: pickup
                      time: {}
                      pickupNotes:
                        type: string
                        example: Yellow Honda
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: SALES_TAX
                        amount:
                          type: integer
                          example: 49
                          default: 0
                  discounts:
                    type: array
                    items:
                      type: object
                      properties: {}
                  charges:
                    type: object
                    properties:
                      serviceCharge:
                        type: object
[...]
