openapi: 3.1.0
info:
  title: Deliverect Channel Accounts Configuration API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Configuration
  description: Configuration operations for the Deliverect Loyalty API.
paths:
  /loyalty/{channelLinkId}/configuration:
    get:
      summary: Deliverect Get Configuration
      description: This endpoint provides information such as  settings, features and requirements based on the account's configuration.
      operationId: loyalty_channel_get_configuration
      parameters:
      - name: channelLinkId
        in: path
        schema:
          type: string
        required: true
        description: The channelLinkId value.
        example: 5e8abc11dec0001a009b
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    enabled: true
                    providerName: Generic
                    providerId: 10000
                    externalSignUpUrl: https://deliverect.com/signup
                    features:
                      supportsSSO: false
                      supportsExternalSignUpUrl: true
                      supportsWalletPointsBalance: true
                      supportsWalletCashBalance: false
                      supportsBOGOFPrograms: true
                      supportsFreeItemPrograms: true
                      supportsFlatPrograms: true
                      requiresEmail: true
                      requiresPhoneNumber: false
                      supportsDynamicConfiguration: false
                    cashbackConfig:
                      title: VIP Customers
                      description: Exclusive rewards for our VIP customers
                      earningRules:
                      - type: cash_back
                        reward:
                          type: percentage
                          value: 1000
                      - type: sign_up
                        reward:
                          type: fixed
                          value: 1000
                      burningRules:
                      - type: purchase
                        cost:
                          type: percentage
                          value: 5000
                          maxBurningAmount: 500
                      - type: purchase
                        cost:
                          type: fixed
                          value: 500
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    example: true
                    default: true
                  providerName:
                    type: string
                    example: Generic
                  providerId:
                    type: integer
                    example: 10000
                    default: 0
                  externalSignUpUrl:
                    type: string
                    example: https://deliverect.com/signup
                  features:
                    type: object
                    properties:
                      supportsSSO:
                        type: boolean
                        example: false
                        default: true
                      supportsExternalSignUpUrl:
                        type: boolean
                        example: true
                        default: true
                      supportsWalletPointsBalance:
                        type: boolean
                        example: true
                        default: true
                      supportsWalletCashBalance:
                        type: boolean
                        example: false
                        default: true
                      supportsBOGOFPrograms:
                        type: boolean
                        example: true
                        default: true
                      supportsFreeItemPrograms:
                        type: boolean
                        example: true
                        default: true
                      supportsFlatPrograms:
                        type: boolean
                        example: true
                        default: true
                      requiresEmail:
                        type: boolean
                        example: true
                        default: true
                      requiresPhoneNumber:
                        type: boolean
                        example: false
                        default: true
                      supportsDynamicConfiguration:
                        type: string
                        default: 'false'
                        example: 'false'
                  cashbackConfig:
                    type: object
                    properties:
                      title:
                        type: string
                        example: string
                      description:
                        type: string
                        example: No salad
                      earningRules:
                        type: array
                        items:
                          properties:
                            type:
                              type: string
                              enum:
                              - cash_back
                              - sign_up
                              example: cash_back
                            reward:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - percentage
                                  - fixed
                                  example: percentage
                                value:
                                  type: integer
                                  example: 1
                              required:
                              - value
                              - type
                          type: object
                          required:
                          - reward
                          - type
                      burningRules:
                        type: array
                        items:
                          properties:
                            type:
                              type: string
                              enum:
                              - percentage
                              - fixed
                              example: percentage
                            cost:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - percentage
                                  - fixed
                                  example: percentage
                                value:
                                  type: string
                                  example: string
                                maxBurningAmount:
                                  type: string
                                  description: Only available for percentage driven rules
                                  example: string
                              required:
                              - value
                              - type
                          type: object
                          required:
                          - cost
                          - type
                    required:
                    - burningRules
                    - earningRules
                    - description
                    - title
                required:
                - cashbackConfig
                - features
                - externalSignUpUrl
                - providerId
                - providerName
                - enabled
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Configuration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
