openapi: 3.1.0
info:
  title: Deliverect Channel Accounts Stores API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Stores
  description: Stores operations for the Deliverect Commerce API.
paths:
  /commerce/{accountId}/stores/{channelLinkId}:
    get:
      tags:
      - Stores
      summary: Deliverect Get Store
      description: A store represents a unique ordering experience from a specific location.
      operationId: commerce_channel_api_stores_get_store
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
          default: 668e4aa170efd23c474b2ad1
        required: true
        description: The accountId value.
        example: 668e4aa170efd23c474b2ad1
      - in: path
        name: channelLinkId
        schema:
          type: string
        required: true
        description: The channelLinkId value.
        example: 5e8abc11dec0001a009b
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    id: 65eee6a9984a1bc1b9637c59
                    channelLinkId: 65eee6a9984a1bc1b9637c59
                    name: Store Name
                    currency: EUR
                    address:
                      source: 1 Main street D13 R2P6 Ghent VOV
                      coordinates:
                      - 3.73398891371018
                      - 51.0311233802278
                      country: BE
                      city: Ghent
                      stateOrProvince: VOV
                    openingHours:
                      timezone: Europe/Brussels
                      dayTimeRanges:
                      - dayOfWeek: 1
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 2
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 3
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 4
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 5
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 6
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      - dayOfWeek: 7
                        startTime: 00:00:00
                        endTime: '23:59:00'
                      scheduling:
                        acceptsAsapOrders: false
                        acceptsPreOrders: false
                        acceptsSameDayPreOrders: false
                        minimumLeadTimeInMinutes: 30
                        maximumDaysInAdvance: 30
                        slotLengthInMinutes: 30
                    distance: 1235
                    taxExclusive: false
                    contact:
                      firstName: John
                      lastName: Doe
                      phoneNumber: '+32411111111'
                      email: john.doe@acme.com
                    fulfillmentTypes:
                    - pickup
                    - delivery
                    - eatIn
                    status: open
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 65eee6a9984a1bc1b9637c59
                  name:
                    type: string
                    example: Store Name
                  currency:
                    type: string
                    example: EUR
                  address:
                    type: object
                    properties:
                      source:
                        type: string
                        example: 1 Main street D13 R2P6 Ghent VOV
                      coordinates:
                        type: array
                        items:
                          type: number
                          example: 3.73398891371018
                          default: 0
                      country:
                        type: string
                        example: BE
                      city:
                        type: string
                        example: Ghent
                      stateOrProvince:
                        type: string
                        example: VOV
                  openingHours:
                    type: object
                    properties:
                      timezone:
                        type: string
                        example: Europe/Brussels
                      dayTimeRanges:
                        type: array
                        items:
                          type: object
                          properties:
                            dayOfWeek:
                              type: integer
                              example: 1
                              default: 0
                            startTime:
                              type: string
                              example: 00:00:00
                            endTime:
                              type: string
                              example: '23:59:00'
                  distance:
                    type: integer
                    example: 1235
                    default: 0
                  taxExclusive:
                    type: boolean
                    example: false
                    default: true
                  contact:
                    type: object
                    properties:
                      firstName:
                        type: string
                        example: John
                      lastName:
                        type: string
                        example: Doe
                      phoneNumber:
                        type: string
                        example: '+32411111111'
                      email:
                        type: string
                        example: john.doe@acme.com
                  fulfillmentTypes:
                    type: array
                    items:
                      type: string
                      example: pickup
                  status:
                    type: string
                    example: open
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /commerce/{accountId}/stores:
    get:
      tags:
      - Stores
      summary: Deliverect Get Stores
      description: Returns the list of stores. A store represents a unique ordering experience from a specific location.
      operationId: commerce_channel_api_stores_get_stores
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
          default: ''
        required: true
        description: The accountId value.
        example: 5b71c6489f00290d4
      - name: page
        in: query
        description: Page to be returned
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: size
        in: query
        description: 'Number of stores to be returned per page - Max: 100'
        schema:
          type: integer
          format: int32
          default: 50
        example: 50
      - name: latitude
        in: query
        description: Reference latitude coordinate to calculate store distance
        schema:
          type: number
          format: float
          default: 30.4515
        example: 30.4515
      - name: longitude
        in: query
        description: Reference longitude coordinate to calculate store distance
        schema:
          type: number
          format: float
          default: -91.1871
        example: -91.1871
      - name: sort
        in: query
        schema:
          type: string
          default: distance
        description: The sort value.
        example: distance
      - name: fulfillmentType
        in: query
        description: 'Fulfillment type(s) available on the channelLink. e.g: delivery,eatIn'
        schema:
          type: string
        example: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    total: 1
                    page: 1
                    size: 50
                    items:
                    - id: 65eee6a9984a1bc1b9637c59
                      channelLinkId: 65eee6a9984a1bc1b9637c59
                      name: Store Name
                      currency: EUR
                      address:
                        source: 1 Main street D13 R2P6 Ghent VOV
                        coordinates:
                        - 3.73398891371018
                        - 51.0311233802278
                        country: BE
                        city: Ghent
                        stateOrProvince: VOV
                      openingHours:
                        timezone: Europe/Brussels
                        dayTimeRanges:
                        - dayOfWeek: 1
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 2
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 3
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 4
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 5
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 6
                          startTime: 00:00:00
                          endTime: '23:59:00'
                        - dayOfWeek: 7
                          startTime: 00:00:00
                          endTime: '23:59:00'
                      distance: 1235
                      taxExclusive: false
                      status: open
                      channelLocationId: STORE0005
                      contact:
                        firstName: John
                        lastName: Doe
                        phoneNumber: '+32411111111'
                        email: john.doe@acme.com
                      fulfillmentTypes:
                      - pickup
                      - delivery
                      - eatIn
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                    default: 0
                  page:
                    type: integer
                    example: 1
                    default: 0
                  size:
                    type: integer
                    example: 50
                    default: 0
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 65eee6a9984a1bc1b9637c59
                        channelLinkId:
                          type: string
                          example: 65eee6a9984a1bc1b9637c59
                        name:
                          type: string
                          example: Store Name
                        currency:
                          type: string
                          example: EUR
                        address:
                          type: object
                          properties:
                            source:
                              type: string
                              example: 1 Main street D13 R2P6 Ghent VOV
                            coordinates:
                              type: array
                              items:
                                type: number
                                example: 3.73398891371018
                                default: 0
                            country:
                              type: string
                              example: BE
                            city:
                              type: string
                              example: Ghent
                            stateOrProvince:
                              type: string
                              example: VOV
                        openingHours:
                          type: object
                          properties:
                            timezone:
                              type: string
                              example: Europe/Brussels
                            dayTimeRanges:
                              type: array
                              items:
                                type: object
                                properties:
                                  dayOfWeek:
                                    type: integer
                                    example: 1
                                    default: 0
                                  startTime:
                                    type: string
                                    example: 00:00:00
                                  endTime:
                                    type: string
                                    example: '23:59:00'
                        distance:
                          type: integer
                          example: 1235
                          default: 0
                        taxExclusive:
                          type: boolean
                          example: false
                          default: true
                        status:
                          type: string
                          example: open
                        channelLocationId:
                          type: string
                          example: STORE0005
                        contact:
                          type: object
                          properties:
                            firstName:
                              type: string
                              example: John
                            lastName:
                              type: string
                              example: Doe
                            phoneNumber:
                              type: string
                              example: '+32411111111'
                            email:
                              type: string
                              example: john.doe@acme.com
                        fulfillmentTypes:
                          type: array
                          items:
                            type: string
                            example: pickup
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
