openapi: 3.2.0
info:
  title: Deliverect Channel Accounts Registration API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Registration
  description: Registration operations for the Deliverect Channel API.
paths:
  /channel/register:
    post:
      summary: Deliverect Channel Registration
      description: Deliverect Channel Registration
      operationId: channel_register
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    statusUpdateURL: https://integrator.com/statusUpdate
                    menuUpdateURL: https://integrator.com/menuUpdate
                    snoozeUnsnoozeURL: https://integrator.com/snoozeUnsnooze
                    busyModeURL: https://integrator.com/busyMode
                    updatePrepTimeURL: https://integrator.com/updatePrepTimeURL
                    paymentUpdateURL: https://yourwebhook.com/payment_update
                    courierUpdateURL: https://yourwebhook.com/courier_update
                    authorizationURL: https://yourwebhook.com/authorization
                    menuUrl: https://integrator.com/store
              schema:
                type: object
                properties:
                  statusUpdateURL:
                    type: string
                    example: https://integrator.com/statusUpdate
                  menuUpdateURL:
                    type: string
                    example: https://integrator.com/menuUpdate
                  snoozeUnsnoozeURL:
                    type: string
                    example: https://integrator.com/snoozeUnsnooze
                  busyModeURL:
                    type: string
                    example: https://integrator.com/busyMode
                  updatePrepTimeURL:
                    type: string
                    example: https://integrator.com/updatePrepTimeURL
                  paymentUpdateURL:
                    type: string
                    example: https://yourwebhook.com/payment_update
                  courierUpdateURL:
                    type: string
                    example: https://yourwebhook.com/courier_update
                  menuUrl:
                    type: string
                    example: https://integrator.com/store
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location --request GET 'https://yourwebhook.com/register' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"status\": \"register\",\n    \"channelLocationId\": \"UniqueIdInChannelForThisLocation\",\n    \"channelLinkId\": \"{{channelLinkId}}\",\n    \"locationId\": \"{{locationId}}\",\n    \"channelLinkName\": \"Order Boss\"\n}'"
        samples-languages:
        - curl
      tags:
      - Registration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /kds/register_kds:
    post:
      description: Deliverect Kds_register_kds
      responses:
        '200':
          description: ''
      parameters: []
      operationId: kds_register_kds
      summary: Deliverect Kds_register_kds
      tags:
      - Registration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /register:
    post:
      summary: Deliverect Register POS
      description: '*This is a webhook set by the POS'
      operationId: pos_register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  default: ''
                  example: string
              required:
              - location
            examples:
              pos_registerRequest:
                summary: Default pos_register request
                x-microcks-default: true
                value:
                  location: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"ordersWebhookURL\": \"https://integrator.com/ordersWebhookURL\",\n  \"syncProductsURL\": \"https://integrator.com/syncProductsURL\",\n  \"syncTablesURL\": \"https://integrator.com/syncTablesURL\",\n  \"syncFloorsURL\": \"https://integrator.com/syncFloorsURL\",\n  \"operationsWebhookURL\": \"https://integrator.com/operationsURL\",\n  \"storeStatusWebhookURL\": \"https://integrator.com/storeStatusURL\"\n}"
              schema:
                type: object
                properties:
                  ordersWebhookURL:
                    type: string
                    example: https://integrator.com/ordersWebhookURL
                  syncProductsURL:
                    type: string
                    example: https://integrator.com/syncProductsURL
                  syncTablesURL:
                    type: string
                    example: https://integrator.com/syncTablesURL
                  syncFloorsURL:
                    type: string
                    example: https://integrator.com/syncFloorsURL
                  operationsWebhookURL:
                    type: string
                    example: https://integrator.com/operationsURL
                  storeStatusWebhookURL:
                    type: string
                    example: https://integrator.com/storeStatusURL
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Registration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
