openapi: 3.1.0
info:
  title: Deliverect Store API
  description: Query and update store and product availability, snooze products by PLU or tag, set busy mode, and configure opening and holiday hours across locations and channels. Authenticates with OAuth
    2.0 machine-to-machine access tokens scoped via store or genericPOS.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
tags:
- name: Locations
  description: Locations operations for the Deliverect Store API.
- name: Products
  description: Products operations for the Deliverect Store API.
- name: Store Status
  description: Store Status operations for the Deliverect Store API.
- name: Opening Hours
  description: Opening Hours operations for the Deliverect Store API.
- name: Tables
  description: Tables operations for the Deliverect Store API.
- name: Allergens
  description: Allergens operations for the Deliverect Store API.
paths:
  /locations:
    get:
      tags:
      - Locations
      summary: Deliverect Locations
      description: Per physical restaurant location, there will be a *Location*. This endpoint can be used to query them. You can have to specify an account, otherwise the locations of your own account
        will be returned
      parameters:
      - name: where
        in: query
        schema:
          type: string
        example:
          account: '{{accountId}}'
        description: The where value.
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                examples:
                - nginx/1.14.1
            Date:
              schema:
                type: string
                examples:
                - Thu, 14 Feb 2019 16:24:59 GMT
            Content-Type:
              schema:
                type: string
                examples:
                - application/json
            Content-Length:
              schema:
                type: integer
                examples:
                - '1270'
            Connection:
              schema:
                type: string
                examples:
                - keep-alive
            X-Total-Count:
              schema:
                type: integer
                examples:
                - '1'
            Cache-Control:
              schema:
                type: string
                examples:
                - max-age=20
            Expires:
              schema:
                type: string
                examples:
                - Thu, 14 Feb 2019 16:25:19 GMT
            Last-Modified:
              schema:
                type: string
                examples:
                - Thu, 14 Feb 2019 13:57:59 GMT
            Access-Control-Allow-Origin:
              schema:
                type: string
                examples:
                - '*'
            Access-Control-Allow-Headers:
              schema:
                type: string
                examples:
                - User-Agent,Keep-Alive,Content-Type,Authorization
            Access-Control-Allow-Methods:
              schema:
                type: string
                examples:
                - GET, POST, OPTIONS, DELETE, PUT, PATCH
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                examples:
                - 'true'
          content:
            application/json:
              schema:
                type: object
              examples:
                ? ''
                : summary: ''
                  value:
                    _items:
                    - _id: 61********************a4
                      posSettings:
                        generic:
                          locationId: 29**10
                          setDefaultPriceLevelOnSync: false
                          anonymizeCustomer: false
                          sendStreetNumber: false
                          hasDirectTableIntegration: false
                          sendDiscount: true
                          sendDeliveryFee: true
                          sendServiceCharge: true
                          sendDeliveryFeeCondition: 0
                          forcePayment: 0
                          sendTip: true
                          sendRebate: true
                          sortModifiers: 0
                          bufferOrders: false
                          deliveryByChannelIsPickup: false
                          ignoreUnknownOrderStatuses: false
                          recalcPriceOverrides: false
                          dontSendCancel: false
                          readonly: false
                          logOps: true
                          orderItemRemarks: intactItemRemarks
                          alwaysSendAllSnoozedProducts: true
                          ordersWebhookURL: https://{{YourSetwebhookUrl}}/orders
                          registerUrl: https://{{YourSetwebhookUrl}}/orders/register
                          operationsWebhookURL: https://{{YourSetwebhookUrl}}/orders/operations
                          storeStatusURL: https://{{YourSetwebhookUrl}}/orders/storeStatus
                          syncProductsURL: https://{{YourSetwebhookUrl}}/syncProducts
                          syncTablesURL: https://{{YourSetwebhookUrl}}/syncTables
                          syncFloorsURL: https://{{YourSetwebhookUrl}}/syncFloors
                          syncBillsURL: https://{{YourSetwebhookUrl}}/syncBills
                          billPaymentURL: https://{{YourSetwebhookUrl}}/billPayments
                      name: La Famiglia
                      status: SUBSCRIBED
                      posSystemId: 10000
                      subscriptions:
                      - brandId: 61********************9e
                      address:
                        phoneNumber: '+445556665555'
                        houseNumber: '78'
                        street: Main St
                        postalCode: FX19ST
                        city: Pleasantville
                        stateOrProvince: TX
                        restaurantName: La Famiglia Restaurant
                        coordinates:
                          type: Point
                          coordinates:
                          - -20.34974509999999
                          - 11.0110892
                        country: FR
                      contact:
                        phoneNumber: '+445556665555'
                      timezone: Asia/Dubai
                      taxExcl: false
                      enableOutOfStock: false
                      enablePickupScreenQR: false
                      ignorePOSOrderStatuses: false
                      enableWorkstations: false
                      splitOrderItems: false
                      account: 61********************8d
                      region: Latin America
                      _updated: '2022-12-28T08:38:13.710000Z'
                      _created: '2022-11-17T05:43:05.000000Z'
                      _deleted: false
                      _etag: fc9144bc1b9ef7e67378d3e0c77279691c1bc3a8
                      channelLinks:
                      - 63********************45
                      - 63********************22
                      - 63********************12
                      - 63********************1e
                      - 63********************90
                      deliverySystemSettings:
                        generic:
                          externalReference: '123'
                          validateUrl: https://mock-dsp.staging.deliverect.com/api/jobs/validate
                          createUrl: https://mock-dsp.staging.deliverect.com/api/jobs/create
                          cancelUrl: https://mock-dsp.staging.deliverect.com/api/jobs/cancel
                          registerUrl: https://mock-dsp.staging.deliverect.com/api/register
                          active: false
                      openingHours:
                      - dayOfWeek: 1
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 2
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 3
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 4
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 5
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 6
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 7
                        startTime: 00:00
                        endTime: '23:59'
                      lastProductSync: '2022-12-28T21:05:27.668000Z'
                      _links:
                        self:
                          title: Locations
                          href: locations/63********************e4
                        related:
                          account:
                            title: accounts
                            href: accounts/63********************8d
                          channelLinks:
                          - title: channelLink
                            href: channelLinks/63********************45
                          - title: channelLink
                            href: channelLinks/63********************22
                          - title: channelLink
                            href: channelLinks/63********************12
                          - title: channelLink
                            href: channelLinks/63********************1e
                          - title: channelLink
                            href: channelLinks/63********************90
                      channelLinksDetails:
                        63********************22:
                          channel: DoorDash
                          channelId: 12
                          name: DoorDash
                        63********************12:
                          channel: Generic Channel
                          channelId: 10057
                          name: Custom Channnel
                        63********************1e:
                          channel: Uber Eats
                          channelId: 7
                          name: Uber Eats
                        63********************90:
                          channel: Deliverect
                          channelId: 1
                          name: Test channel
                    - _id: 63********************67
                      posSettings: '................'
                    _links:
                      parent:
                        title: home
                        href: /
                      self:
                        title: locations
                        href: locations?where={"account":"63********************8d"}
                      next:
                        title: next page
                        href: locations?where={"account":"63********************8d"}&page=2
                      last:
                        title: last page
                        href: locations?where={"account":"63********************8d"}&page=26
                    _meta:
                      page: 1
                      max_results: 25
                      total: 501
                ' ':
                  summary: ' '
                  value:
                    _items:
                    - _id: 61********************a4
                      posSettings:
                        generic:
                          locationId: 29**10
                          setDefaultPriceLevelOnSync: false
                          anonymizeCustomer: false
                          sendStreetNumber: false
                          hasDirectTableIntegration: false
                          sendDiscount: true
                          sendDeliveryFee: true
                          sendServiceCharge: true
                          sendDeliveryFeeCondition: 0
                          forcePayment: 0
                          sendTip: true
                          sendRebate: true
                          sortModifiers: 0
                          bufferOrders: false
                          deliveryByChannelIsPickup: false
                          ignoreUnknownOrderStatuses: false
                          recalcPriceOverrides: false
                          dontSendCancel: false
                          readonly: false
                          logOps: true
                          orderItemRemarks: intactItemRemarks
                          alwaysSendAllSnoozedProducts: true
                          ordersWebhookURL: https://{{YourSetwebhookUrl}}/orders
                          registerUrl: https://{{YourSetwebhookUrl}}/orders/register
                          operationsWebhookURL: https://{{YourSetwebhookUrl}}/orders/operations
                          storeStatusURL: https://{{YourSetwebhookUrl}}/orders/storeStatus
                          syncProductsURL: https://{{YourSetwebhookUrl}}/syncProducts
                          syncTablesURL: https://{{YourSetwebhookUrl}}/syncTables
                          syncFloorsURL: https://{{YourSetwebhookUrl}}/syncFloors
                          syncBillsURL: https://{{YourSetwebhookUrl}}/syncBills
                          billPaymentURL: https://{{YourSetwebhookUrl}}/billPayments
                      name: La Famiglia
                      status: SUBSCRIBED
                      posSystemId: 10000
                      subscriptions:
                      - brandId: 61********************9e
                      address:
                        phoneNumber: '+445556665555'
                        houseNumber: '78'
                        street: Main St
                        postalCode: FX19ST
                        city: Pleasantville
                        stateOrProvince: TX
                        restaurantName: La Famiglia Restaurant
                        coordinates:
                          type: Point
                          coordinates:
                          - -20.34974509999999
                          - 11.0110892
                        country: FR
                      contact:
                        phoneNumber: '+445556665555'
                      timezone: Asia/Dubai
                      taxExcl: false
                      enableOutOfStock: false
                      enablePickupScreenQR: false
                      ignorePOSOrderStatuses: false
                      enableWorkstations: false
                      splitOrderItems: false
                      account: 61********************8d
                      region: Latin America
                      _updated: '2022-12-28T08:38:13.710000Z'
                      _created: '2022-11-17T05:43:05.000000Z'
                      _deleted: false
                      _etag: fc9144bc1b9ef7e67378d3e0c77279691c1bc3a8
                      channelLinks:
                      - 63********************45
                      - 63********************22
                      - 63********************12
                      - 63********************1e
                      - 63********************90
                      deliverySystemSettings:
                        generic:
                          externalReference: '123'
                          validateUrl: https://mock-dsp.staging.deliverect.com/api/jobs/validate
                          createUrl: https://mock-dsp.staging.deliverect.com/api/jobs/create
                          cancelUrl: https://mock-dsp.staging.deliverect.com/api/jobs/cancel
                          registerUrl: https://mock-dsp.staging.deliverect.com/api/register
                          active: false
                      openingHours:
                      - dayOfWeek: 1
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 2
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 3
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 4
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 5
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 6
                        startTime: 00:00
                        endTime: '23:59'
                      - dayOfWeek: 7
                        startTime: 00:00
                        endTime: '23:59'
                      lastProductSync: '2022-12-28T21:05:27.668000Z'
                      _links:
                        self:
                          title: Locations
                          href: locations/63********************e4
                        related:
                          account:
                            title: accounts
                            href: accounts/63********************8d
                          channelLinks:
                          - title: channelLink
                            href: channelLinks/63********************45
                          - title: channelLink
                            href: channelLinks/63********************22
                          - title: channelLink
                            href: channelLinks/63********************12
                          - title: channelLink
                            href: channelLinks/63********************1e
                          - title: channelLink
                            href: channelLinks/63********************90
                      channelLinksDetails:
                        63********************22:
                          channel: DoorDash
                          channelId: 12
                          name: DoorDash
                        63********************12:
                          channel: Generic Channel
                          channelId: 10057
                          name: Custom Channnel
                        63********************1e:
                          channel: Uber Eats
                          channelId: 7
                          name: Uber Eats
                        63********************90:
                          channel: Deliverect
                          channelId: 1
                          name: Test channel
                    - _id: 63********************67
                      posSettings: '................'
                    _links:
                      parent:
                        title: home
                        href: /
                      self:
                        title: locations
                        href: locations?where={"account":"63********************8d"}
                      next:
                        title: next page
                        href: locations?where={"account":"63********************8d"}&page=2
                      last:
                        title: last page
                        href: locations?where={"account":"63********************8d"}&page=26
                    _meta:
                      page: 1
                      max_results: 25
                      total: 501
      operationId: get_get_locations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /products:
    get:
      tags:
      - Products
      summary: Deliverect Get Products for Account
      parameters:
      - name: where
        in: query
        schema:
          type: string
        example:
          account: '{{accountId}}'
        description: The where value.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          example: 622fd8b********eb7dc24d
                        name:
                          type: string
                          example: Add a side
                        description:
                          type: string
                          example: ''
                        nameTranslations:
                          type: object
                          properties:
                            en:
                              type: string
                              example: Choose a side
                            es:
                              type: string
                              example: Elige tu acompañamiento
                            fr:
                              type: string
                              example: Choisissez votre garniture
                            nl:
                              type: string
                              example: Kies je bijgerecht
                        descriptionTranslations:
                          type: object
                          properties: {}
                        _created:
                          type: string
                          example: '2022-03-15T00:07:16.422000Z'
                        _updated:
                          type: string
                          example: '2022-03-15T00:07:16.422000Z'
                        _etag:
                          type: string
                          example: 2715877681451ad6ddae50679c044bb56bef30ac
                        account:
                          type: string
                          example: 5ff6ee089328c8aefeeabe33
                        location:
                          type: string
                          example: 5ff6ee659328c8aefeeac2a7
                        productType:
                          type: integer
                          example: 3
                          default: 0
                        plu:
                          type: string
                          example: MOD-02
                        multiply:
                          type: integer
                          example: 1
                          default: 0
                        posProductId:
                          type: string
                          example: POS-ID-003
                        posProductCategoryId:
                          type: string
                          example: ''
                        subProducts:
                          type: array
                          items:
                            type: string
                            example: 622fd8b4ac990eb2eb7dc255
                        productTags:
                          type: array
                          items:
                            type: object
                            properties: {}
                        posCategoryIds:
                          type: array
                          items:
                            type: object
                            properties: {}
                        isInternal:
                          type: boolean
                          example: false
                          default: true
                        max:
                          type: integer
                          example: 0
                          default: 0
                        min:
                          type: integer
                          example: 1
                          default: 0
                        sortOrder:
                          type: integer
                          example: 0
                          default: 0
                        capacityUsages:
                          type: array
                          items:
                            type: object
                            properties: {}
                        priceLevels:
                          type: object
                          properties: {}
                        deliveryTax:
                          type: integer
                          example: 9000
                          default: 0
                        takeawayTax:
                          type: integer
                          example: 9000
                          default: 0
                        eatInTax:
                          type: integer
                          example: 9000
                          default: 0
                        _links:
                          type: object
                          properties:
                            self:
                              type: object
                              properties:
                                title:
                                  type: string
                                  example: products
                                href:
                                  type: string
                                  example: products/622fd8b4ac990eb2eb7dc24d
                            related:
                              type: object
                              properties:
                                subProducts:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        example: products
                                      href:
                                        type: string
                                        example: products/622fd8b4ac990eb2eb7dc255
                  _links:
                    type: object
                    properties:
                      parent:
                        type: object
                        properties:
                          title:
                            type: string
                            example: home
                          href:
                            type: string
                            example: /
                      self:
                        type: object
                        properties:
                          title:
                            type: string
                            example: products
                          href:
                            type: string
                            example: products?where={"account":"5ff6ee089328c8aefeeabe33"}
                      next:
                        type: object
                        properties:
                          title:
                            type: string
                            example: next page
                          href:
                            type: string
                            example: products?where={"account":"5ff6ee089328c8aefeeabe33"}&page=2
                      last:
                        type: object
                        properties:
                          title:
                            type: string
                            example: last page
                          href:
                            type: string
                            example: products?where={"account":"5ff6ee089328c8aefeeabe33"}&page=3
                  _meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                        default: 0
                      max_results:
                        type: integer
                        example: 25
                        default: 0
                      total:
                        type: integer
                        example: 64
                        default: 0
              examples:
                OK:
                  summary: OK
                  value:
                    _items:
                    - _id: 622fd8b********eb7dc24d
                      name: Add a side
                      description: ''
                      nameTranslations:
                        en: Choose a side
                        es: Elige tu acompañamiento
                        fr: Choisissez votre garniture
                        nl: Kies je bijgerecht
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: 2715877681451ad6ddae50679c044bb56bef30ac
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 3
                      plu: MOD-02
                      multiply: 1
                      posProductId: POS-ID-003
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc255
                      - 622fd8b4ac990eb2eb7dc257
                      - 622fd8b4ac990eb2eb7dc259
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 1
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc24d
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc255
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc257
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc259
                    - _id: 622fd8b4ac990eb2eb7dc24f
                      name: Rare
                      description: ''
                      nameTranslations:
                        en: Rare
                        es: Poco hecho
                        fr: Saignant
                        nl: Rood
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: be71204aaf77a4cf1676d698ec32a76a090f0e41
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: COOK-01
                      multiply: 1
                      posProductId: POS-ID-004
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 0
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc24f
                    - _id: 622fd8b4ac990eb2eb7dc251
                      name: Medium Rare
                      description: ''
                      nameTranslations:
                        en: Medium Rare
                        es: Al punto
                        fr: À point
                        nl: Half doorbakken
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: 16bba91773586b8aac42ae02e16a9384073bf809
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: COOK-02
                      multiply: 1
                      posProductId: POS-ID-005
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 0
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc251
                    - _id: 622fd8b4ac990eb2eb7dc255
                      name: Fries
                      description: ''
                      nameTranslations:
                        en: Fries
                        es: Patatas fritas
                        fr: Frites
                        nl: Frietjes
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: 2f6c78768a648d49a91723e365b38db4b0fcb94c
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: SI-01
                      multiply: 1
                      posProductId: POS-ID-006
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      defaultQuantity: 1
                      sortOrder: 0
                      capacityUsages: []
                      price: 0
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc255
                    - _id: 622fd8b4ac990eb2eb7dc257
                      name: Salad
                      description: ''
                      nameTranslations:
                        en: Salad
                        es: Ensalada
                        fr: Salade
                        nl: Salade
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: fbd9ebc70111fea3ce22cfcfdf8938f5490974ae
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: SI-02
                      multiply: 1
                      posProductId: POS-ID-007
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 200
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc257
                    - _id: 622fd8b4ac990eb2eb7dc259
                      name: Mashed Potato
                      description: ''
                      nameTranslations:
                        en: Mashed Potato
                        es: Puré de patata
                        fr: Purée de pommes de terre
                        nl: Aardappelpuree
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: 05d48dd6689a7885f01971197480b9ce8fb24151
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: SI-03
                      multiply: 1
                      posProductId: POS-ID-008
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 100
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc259
                    - _id: 622fd8b4ac990eb2eb7dc25b
                      name: Chicken Sate
                      description: Product with Nested Modifiers - Multimax variables - Allergens (tags)
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.422000Z'
                      _updated: '2022-03-15T00:07:16.422000Z'
                      _etag: f9d4e488bc46c73379bc7f44ec26402c7167878f
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: P-SATE
                      multiply: 1
                      posProductId: POS-ID-009
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc25d
                      - 622fd8b4ac990eb2eb7dc25f
                      productTags:
                      - 104
                      - 108
                      posCategoryIds:
                      - SATE
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/satay-62284e3c8c506f015be60184.jpeg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 450
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc25b
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc25d
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc25f
                    - _id: 622fd8b4ac990eb2eb7dc261
                      name: White Rice
                      description: White coloured rice
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: 93d3797000158ddbfba6e555975812b00fd440f9
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: RICE-01
                      multiply: 1
                      posProductId: POS-ID-012
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc269
                      productTags: []
                      posCategoryIds:
                      - SD
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/nasiputi-1610290140494.jpg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 450
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc261
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc269
                    - _id: 622fd8b4ac990eb2eb7dc265
                      name: Egg Noodles
                      description: Egg noodles and veggies fried and tossed with a delicious sauce
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: 82fe6073cf8ad734790611a88c994b878700eb98
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: NOOD-01
                      multiply: 1
                      posProductId: POS-ID-014
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc269
                      productTags: []
                      posCategoryIds:
                      - SD
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/bamigoreng-1610289922969.jpg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 450
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc265
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc269
                    - _id: 622fd8b4ac990eb2eb7dc267
                      name: Ramen Noodles
                      description: Chinese-style wheat noodles
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: 31517b482377d626dba89d13fd72bda726ed4b3e
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: NOOD-02
                      multiply: 1
                      posProductId: POS-ID-015
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc269
                      productTags: []
                      posCategoryIds:
                      - SD
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/Mihoen-2-1-1610289870157.jpg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 450
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc267
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc269
                    - _id: 622fd8b4ac990eb2eb7dc26b
                      name: Sate Sauce
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: 424be2d9e4483177d78aef72749492572f977997
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: SAUCE-01
                      multiply: 1
                      posProductId: POS-ID-017
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 50
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc26b
                    - _id: 622fd8b4ac990eb2eb7dc26d
                      name: Hot Sauce
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: e9d50ad67406d4c6b833df8763b3a0a2a9cded5f
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 2
                      plu: SAUCE-02
                      multiply: 1
                      posProductId: POS-ID-018
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 50
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc26d
                    - _id: 622fd8b4ac990eb2eb7dc26f
                      name: Burger Combo (Drink not Included)
                      description: Combo with Bundles - Modifier Groups as Upsell
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: f7e7f78062028d530e3bbf7ab82c95457aa23924
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: P-BRGR
                      multiply: 1
                      posProductId: POS-ID-019
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc271
                      - 622fd8b4ac990eb2eb7dc273
                      - 622fd8b4ac990eb2eb7dc275
                      productTags: []
                      posCategoryIds:
                      - BURG
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/burger-62286be78c506f015be60190.jpeg
                      isInternal: false
                      isCombo: true
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 950
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc26f
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc271
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc273
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc275
                    - _id: 622fd8b4ac990eb2eb7dc273
                      name: Fries Selection
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: a91312a5e9fae3539769038c06b8f246744a40f2
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 3
                      plu: MG-FRS
                      multiply: 1
                      posProductId: POS-ID-021
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc277
                      - 622fd8b4ac990eb2eb7dc279
                      - 622fd8b4ac990eb2eb7dc27b
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 1
                      min: 1
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc273
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc277
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc279
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc27b
                    - _id: 622fd8b4ac990eb2eb7dc275
                      name: Add a Drink? (not included)
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-07-06T08:03:11.000000Z'
                      _etag: def3a76097f22874ed0ec2e5481b74865c113467
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 3
                      plu: UPSLL-01
                      multiply: 1
                      posProductId: POS-ID-022
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc283
                      - 622fd8b4ac990eb2eb7dc285
                      - 622fd8b4ac990eb2eb7dc287
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      multiMax: 0
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc275
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc283
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc285
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc287
                    - _id: 622fd8b4ac990eb2eb7dc277
                      name: French Fries
                      description: Plain fries from France
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.423000Z'
                      _updated: '2022-03-15T00:07:16.423000Z'
                      _etag: 77b6eef509fed9c3787dc17aa8cfe6bfe6915f9d
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: P-FRS-S
                      multiply: 1
                      posProductId: POS-ID-023
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds:
                      - FRS
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 200
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc277
                    - _id: 622fd8b4ac990eb2eb7dc27d
                      name: Chicken Burger
                      description: Crispy coated chicken thigh, iceberg lettuce, pickles, slice of cheese & mayo, all in a toasted brioche bun.
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: f123a4c0c5a34ac30e132d965f25345779f12024
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: P-BURG-CHK
                      multiply: 1
                      posProductId: POS-ID-026
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds:
                      - BURG
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/chkburger-6228c1dcdb5986001ebf58df.jpeg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 800
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc27d
                    - _id: 622fd8b4ac990eb2eb7dc287
                      name: Ginger Beer
                      description: Australia's favourite ginger beer!
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: 62bb35e3c3f2a5e6f7459d8a5d3ee756b29b6d7c
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: DRNK-03
                      multiply: 1
                      posProductId: POS-ID-031
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds:
                      - DRK
                      imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/gingerbeer-62285548db5986001ebf58d1.jpg
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 400
                      bottleDepositPrice: 100
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc287
                    - _id: 622fd8b4ac990eb2eb7dc28d
                      name: Mini Poke Bowl
                      description: A little bowl of Poke
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: f4c1a3f3fb705345ef489c904c93cd158ec06a49
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: SZ-01
                      multiply: 1
                      posProductId: POS-ID-034
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc293
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 800
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc28d
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc293
                    - _id: 622fd8b4ac990eb2eb7dc28f
                      name: Large Poke Bowl
                      description: A big bowl of Poke
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: 542f83a681b422a0ff3f345a387280fd0a0d5c45
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: SZ-02
                      multiply: 1
                      posProductId: POS-ID-035
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc295
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 1200
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc28f
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc295
                    - _id: 622fd8b4ac990eb2eb7dc291
                      name: Choose Your Base
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: 8cd586d4610a753e9d2748467d6f911d39b73740
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 4
                      plu: BNDL-01
                      multiply: 1
                      posProductId: POS-ID-036
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc299
                      - 622fd8b4ac990eb2eb7dc29b
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 1
                      min: 1
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 6000
                      takeawayTax: 6000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc291
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc299
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc29b
                    - _id: 622fd8b4ac990eb2eb7dc293
                      name: Choose Your Protein
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: fb449d2323d61657c1ba8bc94db1132d56eda269
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 4
                      plu: BNDL-01-SML
                      multiply: 1
                      posProductId: POS-ID-037
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc29d
                      - 622fd8b4ac990eb2eb7dc29f
                      - 622fd8b4ac990eb2eb7dc2a1
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 1
                      min: 1
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 6000
                      takeawayTax: 6000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc293
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc29d
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc29f
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc2a1
                    - _id: 622fd8b4ac990eb2eb7dc295
                      name: Choose Your Protein
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.424000Z'
                      _updated: '2022-03-15T00:07:16.424000Z'
                      _etag: 9bb1989fc9d54146b320cc693f87ef5d42a1cd1b
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 4
                      plu: BNDL-LG
                      multiply: 1
                      posProductId: POS-ID-038
                      posProductCategoryId: ''
                      subProducts:
                      - 622fd8b4ac990eb2eb7dc29d
                      - 622fd8b4ac990eb2eb7dc29f
                      - 622fd8b4ac990eb2eb7dc2a1
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 1
                      min: 1
                      sortOrder: 0
                      capacityUsages: []
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc295
                        related:
                          subProducts:
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc29d
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc29f
                          - title: products
                            href: products/622fd8b4ac990eb2eb7dc2a1
                    - _id: 622fd8b4ac990eb2eb7dc29f
                      name: Spicy Tuna
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.425000Z'
                      _updated: '2022-03-15T00:07:16.425000Z'
                      _etag: 68ed7cc40d43e2236ea9e75da897653a3f3c77d4
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: PRT-02
                      multiply: 1
                      posProductId: POS-ID-043
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 0
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc29f
                    - _id: 622fd8b4ac990eb2eb7dc2a1
                      name: Teriyaki Chicken
                      description: ''
                      nameTranslations: {}
                      descriptionTranslations: {}
                      _created: '2022-03-15T00:07:16.429000Z'
                      _updated: '2022-03-15T00:07:16.429000Z'
                      _etag: 584dacd4970848bffb6513e1826f2ae26fb23f83
                      account: 5ff6ee089328c8aefeeabe33
                      location: 5ff6ee659328c8aefeeac2a7
                      productType: 1
                      plu: PRT-03
                      multiply: 1
                      posProductId: POS-ID-044
                      posProductCategoryId: ''
                      subProducts: []
                      productTags: []
                      posCategoryIds: []
                      isInternal: false
                      max: 0
                      min: 0
                      sortOrder: 0
                      capacityUsages: []
                      price: 0
                      priceLevels: {}
                      deliveryTax: 9000
                      takeawayTax: 9000
                      eatInTax: 9000
                      _links:
                        self:
                          title: products
                          href: products/622fd8b4ac990eb2eb7dc2a1
                    _links:
                      parent:
                        title: home
                        href: /
                      self:
                        title: products
                        href: products?where={"account":"5ff6ee089328c8aefeeabe33"}
                      next:
                        title: next page
                        href: products?where={"account":"5ff6ee089328c8aefeeabe33"}&page=2
                      last:
                        title: last page
                        href: products?where={"account":"5ff6ee089328c8aefeeabe33"}&page=3
                    _meta:
                      page: 1
                      max_results: 25
                      total: 64
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Bad Request:
                  summary: Bad Request
                  value: '{}'
          description: Bad Request
        default:
          description: default
          headers:
            Content-Type:
              schema:
                type: string
                examples:
                - application/json
          content:
            application/json:
              schema:
                type: object
              example:
                _items:
                - _id: 622fd8b********eb7dc24d
                  name: Add a side
                  description: ''
                  nameTranslations:
                    en: Choose a side
                    es: Elige tu acompañamiento
                    fr: Choisissez votre garniture
                    nl: Kies je bijgerecht
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: 2715877681451ad6ddae50679c044bb56bef30ac
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 3
                  plu: MOD-02
                  multiply: 1
                  posProductId: POS-ID-003
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc255
                  - 622fd8b4ac990eb2eb7dc257
                  - 622fd8b4ac990eb2eb7dc259
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 1
                  sortOrder: 0
                  capacityUsages: []
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc24d
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc255
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc257
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc259
                - _id: 622fd8b4ac990eb2eb7dc24f
                  name: Rare
                  description: ''
                  nameTranslations:
                    en: Rare
                    es: Poco hecho
                    fr: Saignant
                    nl: Rood
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: be71204aaf77a4cf1676d698ec32a76a090f0e41
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: COOK-01
                  multiply: 1
                  posProductId: POS-ID-004
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 0
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc24f
                - _id: 622fd8b4ac990eb2eb7dc251
                  name: Medium Rare
                  description: ''
                  nameTranslations:
                    en: Medium Rare
                    es: Al punto
                    fr: À point
                    nl: Half doorbakken
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: 16bba91773586b8aac42ae02e16a9384073bf809
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: COOK-02
                  multiply: 1
                  posProductId: POS-ID-005
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 0
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc251
                - _id: 622fd8b4ac990eb2eb7dc255
                  name: Fries
                  description: ''
                  nameTranslations:
                    en: Fries
                    es: Patatas fritas
                    fr: Frites
                    nl: Frietjes
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: 2f6c78768a648d49a91723e365b38db4b0fcb94c
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: SI-01
                  multiply: 1
                  posProductId: POS-ID-006
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  defaultQuantity: 1
                  sortOrder: 0
                  capacityUsages: []
                  price: 0
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc255
                - _id: 622fd8b4ac990eb2eb7dc257
                  name: Salad
                  description: ''
                  nameTranslations:
                    en: Salad
                    es: Ensalada
                    fr: Salade
                    nl: Salade
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: fbd9ebc70111fea3ce22cfcfdf8938f5490974ae
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: SI-02
                  multiply: 1
                  posProductId: POS-ID-007
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 200
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc257
                - _id: 622fd8b4ac990eb2eb7dc259
                  name: Mashed Potato
                  description: ''
                  nameTranslations:
                    en: Mashed Potato
                    es: Puré de patata
                    fr: Purée de pommes de terre
                    nl: Aardappelpuree
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: 05d48dd6689a7885f01971197480b9ce8fb24151
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: SI-03
                  multiply: 1
                  posProductId: POS-ID-008
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 100
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc259
                - _id: 622fd8b4ac990eb2eb7dc25b
                  name: Chicken Sate
                  description: Product with Nested Modifiers - Multimax variables - Allergens (tags)
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.422000Z'
                  _updated: '2022-03-15T00:07:16.422000Z'
                  _etag: f9d4e488bc46c73379bc7f44ec26402c7167878f
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: P-SATE
                  multiply: 1
                  posProductId: POS-ID-009
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc25d
                  - 622fd8b4ac990eb2eb7dc25f
                  productTags:
                  - 104
                  - 108
                  posCategoryIds:
                  - SATE
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/satay-62284e3c8c506f015be60184.jpeg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 450
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc25b
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc25d
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc25f
                - _id: 622fd8b4ac990eb2eb7dc261
                  name: White Rice
                  description: White coloured rice
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: 93d3797000158ddbfba6e555975812b00fd440f9
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: RICE-01
                  multiply: 1
                  posProductId: POS-ID-012
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc269
                  productTags: []
                  posCategoryIds:
                  - SD
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/nasiputi-1610290140494.jpg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 450
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc261
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc269
                - _id: 622fd8b4ac990eb2eb7dc265
                  name: Egg Noodles
                  description: Egg noodles and veggies fried and tossed with a delicious sauce
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: 82fe6073cf8ad734790611a88c994b878700eb98
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: NOOD-01
                  multiply: 1
                  posProductId: POS-ID-014
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc269
                  productTags: []
                  posCategoryIds:
                  - SD
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/bamigoreng-1610289922969.jpg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 450
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc265
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc269
                - _id: 622fd8b4ac990eb2eb7dc267
                  name: Ramen Noodles
                  description: Chinese-style wheat noodles
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: 31517b482377d626dba89d13fd72bda726ed4b3e
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: NOOD-02
                  multiply: 1
                  posProductId: POS-ID-015
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc269
                  productTags: []
                  posCategoryIds:
                  - SD
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/Mihoen-2-1-1610289870157.jpg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 450
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc267
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc269
                - _id: 622fd8b4ac990eb2eb7dc26b
                  name: Sate Sauce
                  description: ''
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: 424be2d9e4483177d78aef72749492572f977997
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: SAUCE-01
                  multiply: 1
                  posProductId: POS-ID-017
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 50
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc26b
                - _id: 622fd8b4ac990eb2eb7dc26d
                  name: Hot Sauce
                  description: ''
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: e9d50ad67406d4c6b833df8763b3a0a2a9cded5f
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 2
                  plu: SAUCE-02
                  multiply: 1
                  posProductId: POS-ID-018
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 50
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc26d
                - _id: 622fd8b4ac990eb2eb7dc26f
                  name: Burger Combo (Drink not Included)
                  description: Combo with Bundles - Modifier Groups as Upsell
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: f7e7f78062028d530e3bbf7ab82c95457aa23924
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: P-BRGR
                  multiply: 1
                  posProductId: POS-ID-019
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc271
                  - 622fd8b4ac990eb2eb7dc273
                  - 622fd8b4ac990eb2eb7dc275
                  productTags: []
                  posCategoryIds:
                  - BURG
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/burger-62286be78c506f015be60190.jpeg
                  isInternal: false
                  isCombo: true
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 950
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc26f
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc271
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc273
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc275
                - _id: 622fd8b4ac990eb2eb7dc273
                  name: Fries Selection
                  description: ''
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: a91312a5e9fae3539769038c06b8f246744a40f2
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 3
                  plu: MG-FRS
                  multiply: 1
                  posProductId: POS-ID-021
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc277
                  - 622fd8b4ac990eb2eb7dc279
                  - 622fd8b4ac990eb2eb7dc27b
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 1
                  min: 1
                  sortOrder: 0
                  capacityUsages: []
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc273
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc277
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc279
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc27b
                - _id: 622fd8b4ac990eb2eb7dc275
                  name: Add a Drink? (not included)
                  description: ''
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-07-06T08:03:11.000000Z'
                  _etag: def3a76097f22874ed0ec2e5481b74865c113467
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 3
                  plu: UPSLL-01
                  multiply: 1
                  posProductId: POS-ID-022
                  posProductCategoryId: ''
                  subProducts:
                  - 622fd8b4ac990eb2eb7dc283
                  - 622fd8b4ac990eb2eb7dc285
                  - 622fd8b4ac990eb2eb7dc287
                  productTags: []
                  posCategoryIds: []
                  isInternal: false
                  max: 0
                  min: 0
                  multiMax: 0
                  sortOrder: 0
                  capacityUsages: []
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc275
                    related:
                      subProducts:
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc283
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc285
                      - title: products
                        href: products/622fd8b4ac990eb2eb7dc287
                - _id: 622fd8b4ac990eb2eb7dc277
                  name: French Fries
                  description: Plain fries from France
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.423000Z'
                  _updated: '2022-03-15T00:07:16.423000Z'
                  _etag: 77b6eef509fed9c3787dc17aa8cfe6bfe6915f9d
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: P-FRS-S
                  multiply: 1
                  posProductId: POS-ID-023
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds:
                  - FRS
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 200
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc277
                - _id: 622fd8b4ac990eb2eb7dc27d
                  name: Chicken Burger
                  description: Crispy coated chicken thigh, iceberg lettuce, pickles, slice of cheese & mayo, all in a toasted brioche bun.
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.424000Z'
                  _updated: '2022-03-15T00:07:16.424000Z'
                  _etag: f123a4c0c5a34ac30e132d965f25345779f12024
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: P-BURG-CHK
                  multiply: 1
                  posProductId: POS-ID-026
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds:
                  - BURG
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/chkburger-6228c1dcdb5986001ebf58df.jpeg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 800
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
                      title: products
                      href: products/622fd8b4ac990eb2eb7dc27d
                - _id: 622fd8b4ac990eb2eb7dc287
                  name: Ginger Beer
                  description: Australia's favourite ginger beer!
                  nameTranslations: {}
                  descriptionTranslations: {}
                  _created: '2022-03-15T00:07:16.424000Z'
                  _updated: '2022-03-15T00:07:16.424000Z'
                  _etag: 62bb35e3c3f2a5e6f7459d8a5d3ee756b29b6d7c
                  account: 5ff6ee089328c8aefeeabe33
                  location: 5ff6ee659328c8aefeeac2a7
                  productType: 1
                  plu: DRNK-03
                  multiply: 1
                  posProductId: POS-ID-031
                  posProductCategoryId: ''
                  subProducts: []
                  productTags: []
                  posCategoryIds:
                  - DRK
                  imageUrl: https://storage.googleapis.com/ikona-bucket-staging/images/5ff6ee089328c8aefeeabe33/gingerbeer-62285548db5986001ebf58d1.jpg
                  isInternal: false
                  max: 0
                  min: 0
                  sortOrder: 0
                  capacityUsages: []
                  price: 400
                  bottleDepositPrice: 100
                  priceLevels: {}
                  deliveryTax: 9000
                  takeawayTax: 9000
                  eatInTax: 9000
                  _links:
                    self:
[...]
