openapi: 3.2.0
info:
  title: Deliverect Channel Accounts Tables API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Tables
  description: Tables operations for the Deliverect POS API.
paths:
  /tables/locationId:
    get:
      summary: Deliverect Sync Tables
      description: '*This is a GET webhook set by the POS'
      operationId: pos_tables_locationid
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Tables
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tables/{locationId}:
    get:
      summary: Deliverect GET POS Tables
      description: Retrieve tables and floors for a location.
      operationId: get_tables_locationid
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
          default: ''
        description: The locationId value.
        example: 5cecc6489f0001b8
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - tables
                - floors
                properties:
                  tables:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - floorId
                      - seats
                      properties:
                        id:
                          type: string
                          example: 609a1b2c3d4e5f6a7b8c9d0e
                        name:
                          type: string
                          example: Deliverect's Pizza Place
                        floorId:
                          type: string
                          example: 609a1b2c3d4e5f6a7b8c9d0e
                        seats:
                          type: integer
                          example: 1
                  floors:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: string
                          example: 609a1b2c3d4e5f6a7b8c9d0e
                        name:
                          type: string
                          example: Deliverect's Pizza Place
              examples:
                GET POS tables:
                  summary: GET POS tables
                  value:
                    tables:
                    - id: table#1
                      name: 'Table #1'
                      floorId: restaurant
                      seats: 6
                    floors:
                    - id: restaurant
                      name: Restaurant
        '400':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    error: 'failed to get tables: Error message'
          description: Bad Request
        '422':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Unprocessable Entity:
                  summary: Unprocessable Entity
                  value:
                    error: Get tables action is not supported for this location.
          description: Unprocessable Entity
      tags:
      - Tables
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
