openapi: 3.2.0
info:
  title: Deliverect Channel Accounts Gift Cards API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Gift Cards
  description: Gift Cards operations for the Deliverect Gift Cards API.
paths:
  /giftCards/channel/{channelLinkId}/profileLink/{giftCardProviderProfileLinkId}/applyGiftCard:
    post:
      summary: Deliverect Apply Gift Card
      parameters:
      - name: channelLinkId
        in: path
        required: true
        schema:
          type: string
        example: '{{channelLinkId}}'
        description: The channelLinkId value.
      - name: giftCardProviderProfileLinkId
        in: path
        required: true
        schema:
          type: string
        example: '{{giftCardProviderProfileLinkId}}'
        description: The giftCardProviderProfileLinkId value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                    example: 1
              examples:
                post_giftcards_channel_channellinkid_profilelink_giftcardproviderprofilelinkid_applygiftcard200Example:
                  summary: Default post_giftcards_channel_channellinkid_profilelink_giftcardproviderprofilelinkid_applygiftcard 200 response
                  x-microcks-default: true
                  value:
                    balance: 1
      tags:
      - Gift Cards
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  format: color
                  example: string
                verificationCode:
                  type: string
                  format: utc-millisec
                  example: string
                amount:
                  type: integer
                  example: 1250
            example:
              number: ABC
              verificationCode: '1234'
              amount: 100
      operationId: post_giftcards_channel_channellinkid_profilelink_giftcardproviderprofilelinkid_applygiftcard
      description: Deliverect Apply Gift Card
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /giftCards/channel/{channelLinkId}/profileLink/{giftCardProviderProfileLinkId}/getGiftCardBalance:
    post:
      summary: Deliverect Get Balance
      parameters:
      - name: channelLinkId
        in: path
        required: true
        schema:
          type: string
        example: '{{channelLinkId}}'
        description: The channelLinkId value.
      - name: giftCardProviderProfileLinkId
        in: path
        required: true
        schema:
          type: string
        example: '{{giftCardProviderProfileLinkId}}'
        description: The giftCardProviderProfileLinkId value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                    example: 1
              examples:
                exampleFromExisting200:
                  value:
                    amount: 6346
                    giftCardNumber: '6000101001050148'
      tags:
      - Gift Cards
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  format: color
                  example: string
                verificationCode:
                  type: string
                  format: utc-millisec
                  example: string
            example:
              number: ABC
              verificationCode: '1234'
      operationId: post_giftcards_channel_channellinkid_profilelink_giftcardproviderprofilelinkid_getgiftcardbalance
      description: Deliverect Get Balance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /giftCards/redeem:
    post:
      summary: Deliverect Redeem Gift Cards
      description: Deliverect Redeem Gift Cards
      operationId: giftcards_redeem
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Gift Cards
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /giftCards/reverse:
    post:
      summary: Deliverect Reverse Gift Card Payments
      description: Deliverect Reverse Gift Card Payments
      operationId: giftcards_reverse
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Gift Cards
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
