openapi: 3.2.0
info:
  title: Deliverect Channel Accounts API
  description: Integrate ordering channels and marketplaces with Deliverect to create and cancel orders, sync menus, snooze products, update store and courier status, and exchange payment events. Authenticates with OAuth 2.0 machine-to-machine access tokens scoped via genericChannel.
  version: '1.0'
  x-generated-from: documentation
  x-source-url: https://developers.deliverect.com/reference
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: All Rights Reserved
servers:
- url: https://api.deliverect.com
  description: Production
- url: https://api.staging.deliverect.com
  description: Staging
security:
- oauth2: []
tags:
- name: Accounts
  description: Accounts operations for the Deliverect Channel API.
paths:
  /accounts:
    get:
      tags:
      - Accounts
      description: Deliverect Get_accounts
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    _items:
                    - _id: 5f1***131
                      name: Generic account
                      accountType: 1
                      currency: 1
                      posSystem: 10000
                      _updated: '2021-05-18T08:02:16.000000Z'
                      _created: '2020-07-24T07:36:49.000000Z'
                      _deleted: false
                      _etag: 004a4df4bcce3cae83fd530c4a502278633ffd42
                      locations:
                      - 5f1***133
                      - 606***b86
                      - 606***555
                      accounts: []
                      brands:
                      - name: Generic account
                        brandId: 606***6c5
                      deliverectVersion: '2.0'
                      featureFlags:
                        menuLocationOverrides: false
                        autoApply: false
                        pullAvailabilities: false
                        combinedProductsPage: false
                        enableSelfOnboarding: false
                        reportsV2: false
                        enableDiscounts: false
                        enableDelivery: false
                      region: EU
                      settings:
                        taxExcl: false
                      whitelabel: deliverect
                      users:
                      - 607***ca68
                      reportingEndpoints:
                      - endpoint: https://reporting-endpoint.com/reporting/newOrder
                        statusTrigger:
                        - 20
                        endpointType: 10
                      _links:
                        self:
                          title: accounts
                          href: accounts/5f1***131
                        related:
                          users:
                          - title: users
                            href: users/607***a68
                          locations:
                          - title: Locations
                            href: locations/5f1***133
                          - title: Locations
                            href: locations/606***b86
                          - title: Locations
                            href: locations/606***555
                          accounts: []
                    _links:
                      parent:
                        title: home
                        href: /
                      self:
                        title: accounts
                        href: accounts
                      next:
                        title: next page
                        href: accounts?page=2
                      last:
                        title: last page
                        href: accounts?page=11
                    _meta:
                      page: 1
                      max_results: 25
                      total: 11
        '401':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Unauthorized:
                  summary: Unauthorized
                  value:
                    _status: ERR
                    _error:
                      code: 401
                      message: Please provide proper credentials
          description: Unauthorized
      parameters: []
      operationId: get_accounts
      summary: Deliverect Get_accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 machine-to-machine client-credentials. Exchange client_id/client_secret at POST /oauth/token for a Bearer access_token.
      flows:
        clientCredentials:
          tokenUrl: https://api.deliverect.com/oauth/token
          scopes: {}
